<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5fd588ac-bd24-440e-b74b-41abe73d6aa2" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-info color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>About GeneSys Health</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="f8e52980-2a34-4a5c-9676-4bfda1642bcc">aboutPageProperties</Composition>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="733a999b-072b-4a2d-b0ca-1cdc89c208ab">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>22c4e751-34ac-4c04-8beb-fc9b7aec135e</Key>
      <Name>Global Content</Name>
      <Alias>globalContent</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalContent">Global Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7aad680a-4ba7-4ac9-9d21-e15f468491a8</Key>
      <Name>whoWeAreImg</Name>
      <Alias>whoWeAreImg</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Who we are content Image]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="whoWeAre">Who We Are</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>65390591-3540-4987-a7f0-d668322cec4c</Key>
      <Caption>Who We Are</Caption>
      <Alias>whoWeAre</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>71cb3762-d768-44ef-bed1-7293b1f4a0de</Key>
      <Caption>Global Content</Caption>
      <Alias>globalContent</Alias>
      <Type>Tab</Type>
      <SortOrder>8</SortOrder>
    </Tab>
  </Tabs>
</ContentType>