<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5fd588ac-bd24-440e-b74b-41abe73d6aa2" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-info color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>About GeneSys Health</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="f8e52980-2a34-4a5c-9676-4bfda1642bcc">aboutPageProperties</Composition>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="733a999b-072b-4a2d-b0ca-1cdc89c208ab">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>