<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b740f48-408d-4464-8c63-0671fc8a51ab" Alias="allProducts" Level="2">
  <Info>
    <Name>All Products</Name>
    <Icon>icon-sprout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
      <Composition Key="31031cc6-9f86-48c8-976e-e4b7d4814a9c">productProperties</Composition>
    </Compositions>
    <DefaultTemplate>AllProducts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d0555bc0-5331-4d0e-aca9-565646757113">AllProducts</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>