<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="552876d0-0475-4fdf-878d-78e8315dddfe" Alias="careerPage" Level="2">
  <Info>
    <Name>Career Page</Name>
    <Icon>icon-sprout color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Career Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d5746a37-19a0-4f8f-a132-6707078ad2cd">careerPageProperties</Composition>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>CareerPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="165c45ad-a81f-47f3-a92e-4dd74b8cbc78">CareerPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>