<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="236d8897-db06-47bd-ba2c-59d10326c21e" Alias="caseStudy" Level="2">
  <Info>
    <Name>Case Study</Name>
    <Icon>icon-briefcase color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Case Study - News Sub Paage</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>CaseStudy</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8d385c28-9cf6-48e5-a2e4-f32e7743f795">CaseStudy</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>162a47c0-a1f1-4df8-9b51-f14050f85461</Key>
      <Name>Global Content</Name>
      <Alias>globalContent</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalContent">Global Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>12ba6c08-1548-403c-af97-4a01d254a7d2</Key>
      <Caption>Global Content</Caption>
      <Alias>globalContent</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>