<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7b00031f-4e9d-45bb-a249-9563cb2fe379" Alias="demoPage" Level="2">
  <Info>
    <Name>Demo Page</Name>
    <Icon>icon-slideshow color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Demo Contact Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>DemoPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8d9c0858-852b-4371-94ea-3b536431a105">DemoPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>