<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3276a17-5691-49a1-a883-1f4001ccb4bb" Alias="genesysPatient" Level="2">
  <Info>
    <Name>Genesys Patient</Name>
    <Icon>icon-app color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Genesys Patient Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>GenesysPatient</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7fa344ad-1320-44c9-aa2c-16f081a0cf5f">GenesysPatient</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a64b18d7-b360-4178-913b-7dff4a00af6c</Key>
      <Name>Global Content</Name>
      <Alias>globalContent</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalContent">Global Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>13db5f24-d872-469d-9e34-376318962fce</Key>
      <Caption>Global Content</Caption>
      <Alias>globalContent</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>