<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0fda5153-da40-4bad-b669-9b7d05c6f198" Alias="globalContent" Level="1">
  <Info>
    <Name>Global Content</Name>
    <Icon>icon-globe color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4d739f98-0eb4-4de7-88a8-cb71a64c3580">newsProperties</Composition>
      <Composition Key="313e7d19-cc1b-4718-a978-9d219498caca">plan</Composition>
      <Composition Key="31031cc6-9f86-48c8-976e-e4b7d4814a9c">product</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>79312c04-4228-41dc-b7a6-66ebc2effd26</Key>
      <Name>PersonnelList</Name>
      <Alias>personnelList</Alias>
      <Definition>91fbea94-6346-4018-9c0c-2d7e090356cc</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="personnel">Personnel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e065130-7fba-4dc0-af45-0bed1d20c871</Key>
      <Name>TestimonialHeading</Name>
      <Alias>testimonialHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="testimonial">Testimonial</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>265bc872-8bc2-4613-9b67-6ec486ece717</Key>
      <Name>Testimonials</Name>
      <Alias>testimonials</Alias>
      <Definition>e57044c2-a29f-478b-b263-a8fa8536e6dc</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="testimonial">Testimonial</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9675acf7-b7a9-4400-9ca0-80bfeda8786f</Key>
      <Caption>Personnel</Caption>
      <Alias>personnel</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d6876f06-183d-4a30-a44c-6881dad07eb3</Key>
      <Caption>Testimonial</Caption>
      <Alias>testimonial</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>