<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ce64c56-69ca-4d0e-83f7-365a9e01906a" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
      <Composition Key="388bb81e-3b77-472a-b5fd-d366487f8e71">homePageProperties</Composition>
      <Composition Key="313e7d19-cc1b-4718-a978-9d219498caca">planProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0e68fa4d-0f0e-45c8-8db3-a27339ab81b9">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="445969d5-46f1-4473-8e59-95b8796753f4" SortOrder="0">contactPage</ContentType>
    <ContentType Key="f62fecd9-ac22-4e4d-af26-5bdcad8df694" SortOrder="1">howItWorksPage</ContentType>
    <ContentType Key="7b00031f-4e9d-45bb-a249-9563cb2fe379" SortOrder="2">demoPage</ContentType>
    <ContentType Key="5fd588ac-bd24-440e-b74b-41abe73d6aa2" SortOrder="3">aboutPage</ContentType>
    <ContentType Key="59769924-d5c5-400b-9765-b6361ad10477" SortOrder="4">newsPage</ContentType>
    <ContentType Key="5bb85913-d274-470c-a03e-666771c1800d" SortOrder="5">productPage</ContentType>
    <ContentType Key="9c6ce884-4bb6-4726-b4d6-046bb214e152" SortOrder="6">privacyPage</ContentType>
    <ContentType Key="552876d0-0475-4fdf-878d-78e8315dddfe" SortOrder="7">careerPage</ContentType>
    <ContentType Key="94d6b459-a6c3-4772-9947-206440fc780a" SortOrder="8">page404</ContentType>
    <ContentType Key="0fda5153-da40-4bad-b669-9b7d05c6f198" SortOrder="9">globalContent</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e7e1499a-73e6-4b6b-ac03-e90892b639c9</Key>
      <Name>Global Content</Name>
      <Alias>globalContent</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalContent">Global Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3c6af130-6473-4e1d-9995-6f7613205371</Key>
      <Caption>Global Content</Caption>
      <Alias>globalContent</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>