<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="388bb81e-3b77-472a-b5fd-d366487f8e71" Alias="homePageProperties" Level="2">
  <Info>
    <Name>Home Page Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Properties of the Home Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d6a0335f-275c-4b8e-825c-badc22887195</Key>
      <Name>faqHeading</Name>
      <Alias>faqHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section Header]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="faqSection">FAQ Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a95cc9f5-6b89-44b9-b91a-71a9e586a52d</Key>
      <Name>faqImage</Name>
      <Alias>faqImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section Image]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="faqSection">FAQ Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53b1e5ac-a8ad-4301-97d7-c93242733dd2</Key>
      <Name>Main Heading</Name>
      <Alias>mainHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Intro Section main heading text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="introSection">Intro Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7eb9323-7acd-4f7a-8a21-a88128c6759a</Key>
      <Name>Main Image</Name>
      <Alias>mainImage</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Home page main banner]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="introSection">Intro Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1fe06a9f-e4ef-4c0f-8230-49c8d507ba3e</Key>
      <Name>Main SubHeading</Name>
      <Alias>mainSubHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Intro section subheading text]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="introSection">Intro Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>311d5e7c-efa9-451b-86bb-53aa6ef7be68</Key>
      <Name>Questions</Name>
      <Alias>questions</Alias>
      <Definition>184bf79e-6e73-4835-a496-c5cdbe598b9a</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Block of Questions and Answers]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="faqSection">FAQ Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>07cfa756-b2cb-4430-a791-6e2b1720c03c</Key>
      <Caption>Intro Section</Caption>
      <Alias>introSection</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ada2ad38-ce5f-4ce4-a885-e162745555c8</Key>
      <Caption>FAQ Section</Caption>
      <Alias>faqSection</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>