<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="388bb81e-3b77-472a-b5fd-d366487f8e71" Alias="homePageProperties" Level="2">
  <Info>
    <Name>Home Page Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Properties of the Home Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d6a0335f-275c-4b8e-825c-badc22887195</Key>
      <Name>faqHeading</Name>
      <Alias>faqHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section Header]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="faqSection">FAQ Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>255d8afd-8c29-4927-9402-9e98ac8c3dc0</Key>
      <Name>Info Package</Name>
      <Alias>infoPackage</Alias>
      <Definition>f10bec08-3f6c-4d18-9327-a569fd7de5d3</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="infoSection">Info Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8fa51785-6daf-4a37-ac79-4e77214843f7</Key>
      <Name>Info SubHeading</Name>
      <Alias>infoSubHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Info section subheading text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="infoSection">Info Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>98aa062c-0045-49ed-acc3-327e28a03eb2</Key>
      <Name>Info Title</Name>
      <Alias>infoTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Info  section heading text]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="infoSection">Info Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53b1e5ac-a8ad-4301-97d7-c93242733dd2</Key>
      <Name>Main Heading</Name>
      <Alias>mainHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Intro Section main heading text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="introSection">Intro Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7eb9323-7acd-4f7a-8a21-a88128c6759a</Key>
      <Name>Main Image</Name>
      <Alias>mainImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Home page main banner]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="introSection">Intro Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1fe06a9f-e4ef-4c0f-8230-49c8d507ba3e</Key>
      <Name>Main SubHeading</Name>
      <Alias>mainSubHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Intro section subheading text]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="introSection">Intro Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>311d5e7c-efa9-451b-86bb-53aa6ef7be68</Key>
      <Name>Questions</Name>
      <Alias>questions</Alias>
      <Definition>184bf79e-6e73-4835-a496-c5cdbe598b9a</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Block of Questions and Answers]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="faqSection">FAQ Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c51a30b6-1748-441a-9ea6-74d27ea5a1eb</Key>
      <Name>TestimonialHeading</Name>
      <Alias>testimonialHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Testimonial Section Header]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="testimonialSection">Testimonial Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb5bff17-6b2f-4c65-bdc7-fd86d2146493</Key>
      <Name>Testimonials</Name>
      <Alias>testimonials</Alias>
      <Definition>e57044c2-a29f-478b-b263-a8fa8536e6dc</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List of testimonials]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="testimonialSection">Testimonial Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75742d0d-fb3f-4e67-a9e7-ed9a1c8fe8b6</Key>
      <Name>TestimonialSubHeading</Name>
      <Alias>testimonialSubHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Testimonial Section SubHeading]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="testimonialSection">Testimonial Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>07cfa756-b2cb-4430-a791-6e2b1720c03c</Key>
      <Caption>Intro Section</Caption>
      <Alias>introSection</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ada2ad38-ce5f-4ce4-a885-e162745555c8</Key>
      <Caption>FAQ Section</Caption>
      <Alias>faqSection</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>e1b17207-8e53-4fe2-81f5-bf601aa9d382</Key>
      <Caption>Testimonial Section</Caption>
      <Alias>testimonialSection</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>ff9af50b-79ed-4359-a371-07a0ce7de134</Key>
      <Caption>Info Section</Caption>
      <Alias>infoSection</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>