<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f62fecd9-ac22-4e4d-af26-5bdcad8df694" Alias="howItWorksPage" Level="2">
  <Info>
    <Name>How It Works Page</Name>
    <Icon>icon-sience color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>How GeneSys Works</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>HowItWorksPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="99f9a43b-6bc4-4f39-b552-98081d2501b0">HowItWorksPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>