<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cdb770af-07b7-400a-a2ac-bb551f8a2dbf" Alias="lite" Level="2">
  <Info>
    <Name>Lite</Name>
    <Icon>icon-sprout color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Product Lite Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>Lite</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3240ba76-624f-4090-b93c-4b36835f83cc">Lite</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>