<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3961f956-5609-4d62-821b-1d725d902ebe" Alias="midi" Level="2">
  <Info>
    <Name>Midi</Name>
    <Icon>icon-sprout color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Product Midi Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>Midi</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f85ce372-e2e2-446d-89f8-33cebb1a4066">Midi</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>