<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ac0bb9d-b0b9-40aa-823e-0df95f493a6b" Alias="newsletter" Level="2">
  <Info>
    <Name>Newsletter</Name>
    <Icon>icon-newspaper-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Newsletter - Sub News Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>Newsletter</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="252ed792-1c17-4838-bfc5-23dae9533310">Newsletter</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>