<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="313e7d19-cc1b-4718-a978-9d219498caca" Alias="planProperties" Level="2">
  <Info>
    <Name>Plan Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Plans</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>51f70657-d97e-4eee-9043-8192304004cb</Key>
      <Name>Plan Heading</Name>
      <Alias>planHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Heading of the plan section]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="planSection">Plan Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05b14b75-3783-4a03-9e61-ef427eecc2cd</Key>
      <Name>Plan Items</Name>
      <Alias>planItems</Alias>
      <Definition>f52f8420-53aa-4c67-ae49-6a603a1ab892</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Plan Object]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="planSection">Plan Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4eda141-c49c-4a63-90d5-1d263ed07fc1</Key>
      <Name>Plan SubHeading</Name>
      <Alias>planSubHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Subheading of the plan section]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="planSection">Plan Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a30b07a6-0971-40bb-a1cd-c69ebdd19c67</Key>
      <Caption>Plan Section</Caption>
      <Alias>planSection</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>