<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5bb85913-d274-470c-a03e-666771c1800d" Alias="productPage" Level="2">
  <Info>
    <Name>Product Page</Name>
    <Icon>icon-item-arrangement color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>GeneSys Products Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
      <Composition Key="313e7d19-cc1b-4718-a978-9d219498caca">planProperties</Composition>
      <Composition Key="284dac6f-2944-42b6-b13e-6551c1cd3da7">productPageProperties</Composition>
    </Compositions>
    <DefaultTemplate>ProductPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cad898a9-ada3-4a27-bb0d-7c2120142283">ProductPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3a99438d-72cb-42aa-a606-2d0fe7757011" SortOrder="0">eRP</ContentType>
    <ContentType Key="c3276a17-5691-49a1-a883-1f4001ccb4bb" SortOrder="1">genesysPatient</ContentType>
    <ContentType Key="cdb770af-07b7-400a-a2ac-bb551f8a2dbf" SortOrder="2">lite</ContentType>
    <ContentType Key="3961f956-5609-4d62-821b-1d725d902ebe" SortOrder="3">midi</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>