<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11a82314-cf8b-4141-a8ed-8ecf48b46142" Alias="productUpdates" Level="2">
  <Info>
    <Name>Product Updates</Name>
    <Icon>icon-tools color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Product Update - Sub News Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1ed6431-70f7-4213-9d8e-dee6e886fe27">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>ProductUpdates</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4e7b1864-8654-4250-98d8-15992723707d">ProductUpdates</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>