<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2ce60b4-c88b-4b8d-93ec-dbcde9f0979d" Alias="socials" Level="2">
  <Info>
    <Name>Socials</Name>
    <Icon>icon-science color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Social Links</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9d3be9ef-209d-4959-9dec-8914da917c3f</Key>
      <Name>Social Icon</Name>
      <Alias>socialIcon</Alias>
      <Definition>70852829-7801-4a1b-a4a0-7ef06c99c3ad</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Social App Icon]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>69dc70e6-275f-4bbb-baf8-396fff0fd269</Key>
      <Name>Social Link</Name>
      <Alias>socialLink</Alias>
      <Definition>70852829-7801-4a1b-a4a0-7ef06c99c3ad</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[User Social App Link]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>da52aeb5-9491-44e7-b256-3bcdeb3104dd</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>