<footer class="footer">
    <div class="container p-5">
        <div class="row">
            <div class="col-3">
                <div>
                    <img src="~/assets/images/GHIS_logo.png" class="img-fluid" alt="" width="150px"/>
                </div>
                <div>
                    <div class="d-flex justify-content-start align-items-center my-3">
                        <div class="box">
                            <i class="bi bi-telephone-fill fs-2 fw-bold text-primary"></i>
                        </div>
                        <p>
                            0815 026 0388
                        </p>
                    </div>
                    <div class="d-flex justify-content-start align-items-center my-3">
                        <div class="box">
                            <i class="bi bi-envelope-fill fs-2 fw-bold text-primary"></i>
                        </div>
                        <p>
                            support@genesys-health
                        </p>
                    </div>
                    <div class="d-flex justify-content-start align-items-center my-3">
                        <div class="box">
                            <i class="bi bi-geo-alt-fill fs-2 fw-bold text-primary"></i>
                        </div>
                        <p>
                                Plot 1187, Abimbola Awoniyi Close, Saka Tinubu St, Victoria Island 100101, Lagos
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <h3 class="mb-3">Sitemap</h3>
                <p class="mb-3"><a href="">Genesys LITE</a></p>
                <p class="mb-3"><a href="">Genesys MIDI</a></p>
                <p class="mb-3"><a href="">Genesys ERP</a></p>
                <p class="mb-3"><a href="">Why Genesys?</a></p>
                <p class="mb-3"><a href="/how">How it works</a></p>
            </div>
            <div class="col-2">
                <h3 class="mb-3">Company</h3>
                <p class="mb-3"><a href="/aboutus">About Us</a></p>
                <p class="mb-3"><a href="/contact">Contact Us</a></p>
                <p class="mb-3"><a href="/products">Products</a></p>
                <p class="mb-3"><a href="/news">Newsletter</a></p>
            </div>
            <div class="col-2">
                <h3 class="mb-3">Legal</h3>
                <p class="mb-3">Terms</p>
                <p class="mb-3">Privacy</p>
                <p class="mb-3">Security</p>
            </div>
        </div>
    </div>
    <div class=" container d-flex justify-content-end align-items-center mb-5">
        <div class="mx-4">
            <a href="https://www.facebook.com/genesyshmis?mibextid=LQQJ4d">
                <img src="https://img.icons8.com/color/48/000000/facebook-new.png" width="25"/>
            </a>
        </div>
        <div class="mx-4">
            <a href="https://instagram.com/genesyshmis?igshid=MDM4ZDc5MmU=">
                <img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" width="25"/>
            </a>
        </div>
        <div class="mx-4">
            <a href="https://www.linkedin.com/company/genesys-health-information-systems-ltd/">
                <img src="https://img.icons8.com/color/48/000000/linkedin.png" width="25"/>
            </a>
        </div>
        <div class="mx-4">
            <a href="https://twitter.com/genesyshmisng?s=21&t=Ayy6fK9B8DrnViNA2mENgA">
                <img src="https://img.icons8.com/color/48/000000/twitter-circled--v1.png" width="25"/>
            </a>
        </div>
        <div class="mx-4">
            <a href="">
                <img src="https://img.icons8.com/color/48/000000/youtube-play.png" width="25"/>
            </a>
        </div>
    </div>
    <div class="w-75 m-auto d-flex justify-content-between align-items-center border-top p-4">
        <div>
            <p>&copy; Genesys Health @DateTime.Now.Year. All Rights Reserved.</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <p>Privacy policy</p>
            <p>Terms of use</p>
            <p>Cookie policy</p>
            <p>EMR Intergration</p>
        </div>
    </div>
</footer>