@inherits UmbracoViewPage<ContentModels.AboutPage>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
    var personnels = Model.Value<BlockGridModel>("personnelList");
}

<div class="container-fluid">
    <section class="aboutHead">
        <div class="container">
            <div class="aboutText">
                <h1>@Model?.AboutHead</h1>
                <p>@Model?.AboutSubHead</p>
            </div>
            <div class="aboutImgMainCont">
                <div class="aboutImgCont one">
                    <img src="@Model?.FirstImg?.Url()" alt="">
                </div>
                <div class="aboutImgCont two">
                    <img src="@Model?.SecondImg?.Url()" alt="">
                </div>
            </div>
            <div class="row whoWeAre">
                <div class="col-lg-4 col-md-8">
                    <h3>Who we are</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                    <p>
                        @Model?.WhoWeAre
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="aboutUs">
        <div class="container-fluid p-0">
            <div class="row p-0 aboutUsCont">
                <div class="left px-5">
                    <div>
                        <h1 class="mb-3">
                            @Model?.AboutIntroHeading
                        </h1>
                    </div>
                    <div>
                        <p>
                            @Model?.AboutIntroSubHeading
                        </p>
                    </div>
                    <div class="position-absolute hide" style="top:40%; left:80%;">
                        <div class="" style="transform: rotate(-55deg);">
                            <img src="~/assets/images/News/Asset 1@3x 1.png" alt="" width="100px"/>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="position-relative" style="width:350px;height:200px">
                        <div class="position-absolute" style="top:0;left:0">
                            <img src="~/assets/images/About Us/logo2.png" alt="" width="200px"/>
                        </div>
                        <div class="position-absolute" style="top:50px;left:80px">
                            <img src="~/assets/images/About Us/logo1.png" alt="" width="200px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery">
        <div class="d-flex justify-content-center align-items-center text-center mt-4">
            <h1>@Model?.GalleryTitle</h1>
        </div>
        <div class="d-flex galleryImg">
            @if(Model?.GalleryImgs != null)
            {
                @foreach (var image in Model.GalleryImgs)
                {
                    <div class="flex galCont">
                        <img src="@image.Url()" class="img-fluid" alt=""/>
                    </div>
                }
            }
        </div>
    </div>
    <section class="milestone">
        <h3>@Model?.MilestoneTitle</h3>
        <div class="board">
            <div class="itemRow">
                <div class="col-5"></div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
            </div>
            <div class="itemRow">
                <div class="col-5 first">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                </div>
            </div>
            <div class="itemRow">
                <div class="col-5"></div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
            </div>
            <div class="itemRow">
                <div class="col-5 first">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                </div>
            </div>
            <div class="itemRow">
                <div class="col-5"></div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
            </div>
            <div class="itemRow">
                <div class="col-5 first">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                </div>
            </div>
            <div class="itemRow">
                <div class="col-5"></div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
            </div>
            <div class="itemRow">
                <div class="col-5 first">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                </div>
            </div>
            <div class="itemRow">
                <div class="col-5"></div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
            </div>
            <div class="itemRow">
                <div class="col-5 first">
                    <div class="row">
                        <div class="date col-4">
                            <p>Feb 2020</p>
                        </div>
                        <div class="text col-8"></div>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="circle"></div>
                </div>
                <div class="col-5">
                </div>
            </div>
        </div>
    </section>
    <section class="challenge">
        <div class="row">
            <div class="col-lg-4 col-md-8">
                <h3>@Model?.ChallengeHeader</h3>
            </div>
            <div class="col-lg-8 col-md-12">
                <p>
                    The Nigerian healthcare industry is greatly fraught with the availability of data of any sort, credible or otherwise and studies shows it’s top amongst the sectors in the country with stiff resistance to Information Technology. Seeing as we are not virgin to this sector, we’ve been able to initially identify pain-points and challenges faced by the healthcare industry which are present up till date, often leading to the death of the business beyond the first generation due to inefficiencies in management amongst many others. <br><br>

                    Some other challenges include: Record management and fragmentation, Availability of reliable data for informed decision making. Financial misappropriation, Time Management, Management of cost centers, Procurement Management, Health Maintenance Organizations’ Management, Quality of care Management.<br><br>

                    Just to mention a few. The answer to these problems, is the introduction of Information Technology into the sector. With the advent of technology in this sector, they stand to gain the benefits experienced by similar professional sectors where IT has thrived, greatly impacting those sectors such as; engineering, banking & finance, regulatory & audit to mention a few. <br><br>

                    Hence, our initial voyage into healthcare IT, which led to the rise of Genesys Health Information Systems Limited. Genesys Health Information Systems Limited is a joint venture Limited Liability Company established in December 2017, which has up until the time of its incorporation, existed as a product of the stables of its parent entities.<br><br>

                    With the successes and growth of the product, GeneSys and solidification of alliances between parent companies, this joint venture start-up was birthed as an end-product of concrete relations between Vatebra Technology Limited and Realms Healthcare Services Consulting Limited to better position ourselves as an organization to solve the problems identified from earlier and achieve our vision.
                </p>
            </div>
        </div>
    </section>
    <div class="team py-5">
        <div class="container d-flex justify-content-center flex-column align-items-center mt-4">
            <h3 style="font-size:38px;font-weight:700; text-align:center; margin:2rem 0;">
                @Model?.PersonnelSectionHeading
            </h3>
            <div class="d-flex flexpp mt-5">
                @if (personnels != null)
                {
                    @foreach (var personnel in personnels)
                    {
                        var content = personnel.Content;
                        var name = content.Value<string>("personnelName");
                        var image = content.Value<MediaWithCrops>("personnelIMG");
                        var designation = content.Value<string>("personnelDesignation");


                        <div class="mx-3 Frame">
                            <div class="photoFrame shadow bg-body rounded">
                                <img src="@image?.MediaUrl()" class="img-fluid" alt=""/>
                            </div>
                            <div>
                                <p class="fw-bold fs-4 m-0 p-0 text-center">@name</p>
                                <p class="fs-5 text-center m-0 p-0">@designation</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="vision">
        <div class="circle top-50 start-50 translate-middle shadow-lg"></div>
        <div class="visionText">
            <h2>VISION</h2>
            <p>
                @Model?.Vision
            </p>
        </div>
    </div>
    <div class="mission">
        <div class="leftVecCon">
            <img src="~/assets/images/About Us/leftVec.png" alt=""/>
        </div>
        <div class="missionText">
            <h2>MISSION</h2>
            <p>
                @Model?.Mission
            </p>
        </div>
        <div class="rightVecCon">
            <img src="~/assets/images/About Us/rightVec.png" alt=""/>
        </div>
    </div>
    <div class="values">
        <div class="valueText">
            <h2>CORE VALUES</h2>
            <h3>Our Core Values That Define Us</h3>
            <p>Our values are summed up in one word: “IDEAL.”</p>
        </div>
        <div>
            <div class="d-flex justify-content-center align-items-center flex-wrap">
                <div class="row valuesCard">
                    <div class="img col-3">
                        <img src="~/assets/images/About Us/loyalty.png" alt="">
                    </div>
                    <div class="text col-9">
                        <h3>Loyalty</h3>
                        <p>
                            Long established fact that a readeed to will be distracted by the readable content of a page when looking at its layout
                        </p>
                    </div>
                </div>
                <div class="row valuesCard">
                    <div class="img col-3">
                        <img src="~/assets/images/About Us/integrity.png" alt="">
                    </div>
                    <div class="text col-9">
                        <h3>Integrity</h3>
                        <p>
                            Long established fact that a readeed to will be distracted by the readable content of a page when looking at its layout
                        </p>
                    </div>
                </div>
                <div class="row valuesCard">
                    <div class="img col-3">
                        <img src="~/assets/images/About Us/deligence.png" alt="">
                    </div>
                    <div class="text col-9">
                        <h3>Diligence</h3>
                        <p>
                            Long established fact that a readeed to will be distracted by the readable content of a page when looking at its layout
                        </p>
                    </div>
                </div>
                <div class="row valuesCard">
                    <div class="img col-3">
                        <img src="~/assets/images/About Us/empathy.png" alt="">
                    </div>
                    <div class="text col-9">
                        <h3>Empathy</h3>
                        <p>
                            Long established fact that a readeed to will be distracted by the readable content of a page when looking at its layout
                        </p>
                    </div>
                </div>
                <div class="row valuesCard">
                    <div class="img col-3">
                        <img src="~/assets/images/About Us/accountability.png" alt="">
                    </div>
                    <div class="text col-9">
                        <h3>Accountability</h3>
                        <p>
                            Long established fact that a readeed to will be distracted by the readable content of a page when looking at its layout
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 container mb-5">
        <div class="join p-5">
            <div class="joinText">
                <h3>Check out our career page</h3>
                <h2>We are always looking for <span>talents</span> to create <span>magic</span> together with.
                </h2>
                <a href="/career">Go to career page </a>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Partials/_footer.cshtml")