@inherits UmbracoViewPage<ContentModels.AllProducts>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
	IPublishedContent globalContent = Model.Value<IPublishedContent>("globalContent");
    var products = globalContent.Value<BlockGridModel>("products");
    var planItems = globalContent.Value<BlockGridModel>("planItems");
	var productHeading = globalContent.Value<string>("productHeading");
    var productSubheading = globalContent.Value<string>("productSubheading");
	DemoViewModel Demo = new DemoViewModel();
}

<section class="all-products row">
	<div class="rp-text">
		<h2>@productHeading</h2>
        <p>
            @productSubheading
        </p>
	</div>
	<div class="productSec rp-products">
		<div class="productDisplay">
			 @if(products != null)
			{
				@foreach (var item in products)
				{
					var content = item.Content;
					var name = content.Value<string>("packageTitle");
					var img = content.Value<MediaWithCrops>("packageIMG");
					var desc = content.Value<string>("packageDesc");
					var link = content.Value<Link>("packageLink");
					

					<div class="productCard rounded shadow bg-body">
						<img src="@img?.MediaUrl()" alt="">
						<h3>@name</h3>
						<p>
							@desc
						</p>
						<div class="rdm">
							<a href="@link.Url" class="btn btn-primary py-2 px-3">Read More</a>
						</div>
					</div>
				}
			}
		</div>
		<div class="all-products-arrow">
			<div class="up" onclick="scrollU()"><i class="bi bi-arrow-up-circle-fill"></i></div>
			<div class="down" onclick="scrollD()"><i class="bi bi-arrow-down-circle-fill"></i></div>
		</div>
	</div>
</section>

<section class="all-product-demo">
	<div class="demo-img">
		<img src="~/assets/images/Products/demoImg.png" alt="" class="hide">
		<div class="demo-outer shadow rounded">
			<h1 class="demoText">Request a demo</h1>
			<div class="demoform">
				@await Html.PartialAsync("~/Views/Partials/_Demo.cshtml", Demo)
			</div>
		</div>
	</div>
</section>

 @await Html.PartialAsync("~/Views/Partials/_footer.cshtml")