@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.DemoPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
    DemoViewModel Demo = new DemoViewModel();
}

<div class="container-fluid demo">
    <div class="row h-100 m-0 p-0">
        <div class="col-lg-9 col-md-12 p-0">
            <div>
                <h1 style="margin-left:55px;font-size:30px;">Request a demo</h1>
                <div class="demoform">
                    @await Html.PartialAsync("~/Views/Partials/_Demo.cshtml", Demo)
                </div>
            </div>
        </div>
        <div class="col-3 p-0 hide">
            <div style="height:100%; width:100%; background: #E0E8FB;" class="position-relative">
                <img src="~/assets/images/Demo/girl.png" class="img-fluid" alt=""/>
                <div class="sign d-flex justify-content-center align-items-center" 
                style="">
                    <div style="width:70%;height:50%">
                        <p class="fs-4">I WOULD LIKE TO…</p>
                        <ul>
                            <li class="fs-5 spt"><span class="span spd"></span>Talk to an expert</li>
                            <li class="fs-5 spt"><span class="span"></span>Request a demo</li>
                            <li class="fs-5 spt"><span class="span"></span>Get technical support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>