@inherits UmbracoViewPage<ContentModels.GenesysPatient>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
	IPublishedContent globalContent = Model.Value<IPublishedContent>("globalContent");
    var personnels = globalContent.Value<BlockGridModel>("personnelList");
}

<div class="container-fluid p-0">
    <section class="patient-sevice">
		<div class="row">
			<div class="col-md-6 col-sm-11 alp">
				<div class="w-100 h-100 d-flex align-items-center justify-content-center text-center flex-column px-5">
					<h2 class="fs-1 p-0 m-0">Genesys Patient Service Self App</h2>
					<p class="fs-3">
						Lorem ipsum dolor sit amet consectetur. Ut odio ut semper pretium malesuada ac. Sagittis faucibus duis suscipit imperdiet ornare facilisi tellus. Tempor nulla nunc malesuada orci arcu adipiscing a. Sed scelerisque non morbi dictum libero orci at.
					</p>
					<div class="mt-4">
						<a href="#" class="mx-3">
							<img src="~/assets/images/News/AppStore.png" width="150px" alt=""/>
						</a>
						<a href="#" class="mx-3">
							<img src="~/assets/images/News/GooglePlay.png" width="150px" alt=""/>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-11">
				<div class="gp-img d-flex justify-content-center">
					<img src="~/assets/images/News/ChatGPT.png" alt=""/>
				</div>
			</div>
		</div>
    </section>

    <section class="container-fluid app-features">
		<div class="app-features-text">
			<h2>App Features</h2>
			<p>
				Check out some of the key features that we have in our patient self service App
			</p>
		</div>
		<div class="row h-100 w-100">
			<div class="col d-flex justify-content-center align-items-end flex-column">
				<div class="app-feature-item">
					<p class="p-0 m-5">Appointment Booking</p>
					<img src="~/assets/images/News/booking.png" width="50px" alt=""/>
				</div>
				<div class="app-feature-item">
					<p class="p-0 m-5">Video Call with Doctor</p>
					<img src="~/assets/images/News/videocall.png" width="50px" alt=""/>
				</div>
				<div class="app-feature-item">
					<p class="p-0 m-5">Audio Call with Doctor</p>
					<img src="~/assets/images/News/audiocall.png" width="50px" alt=""/>
				</div>
				<div class="app-feature-item">
					<p class="p-0 m-5">Chat with Doctor</p>
					<img src="~/assets/images/News/chat.png" width="50px" alt=""/>
				</div>
				<div class="app-feature-item">
					<p class="p-0 m-5">Access to Prescribed Drugs</p>
					<img src="~/assets/images/News/drugs.png" width="50px" alt=""/>
				</div>
			</div>
			<div class="col hide">
				<div class="app-feature-img">
					<img src="~/assets/images/News/homepage.png" alt=""/>
				</div>
			</div>
			<div class="col d-flex justify-content-center align-items-start flex-column">
				<div class="app-feature-item">
					<img src="~/assets/images/News/labresult.png" width="50px" alt=""/>
					<p class="p-0 m-5">Access to Laboratory Result</p>
				</div>
				<div class="app-feature-item">
					<img src="~/assets/images/News/radiologyresult.png" width="50px" alt=""/>
					<p class="p-0 m-5">Access to Radiology Result</p>
				</div>
				<div class="app-feature-item">
					<img src="~/assets/images/News/previousencounter.png" width="50px" alt=""/>
					<p class="p-0 m-5">Access to Previous Encounter</p>
				</div>
				<div class="app-feature-item">
					<img src="~/assets/images/News/vitals.png" width="50px" alt=""/>
					<p class="p-0 m-5">Access to Vitals</p>
				</div>
				<div class="app-feature-item">
					<img src="~/assets/images/News/walletmanagement.png" width="50px" alt=""/>
					<p class="p-0 m-5">Wallet Management</p>
				</div>
			</div>
		</div>
    </section>

	<section class="feature-access-steps">
		<div class="steps-item">
			<img src="~/assets/images/News/1.png" alt=""/>
			<p>
				You need to have an acct with one of our  clients
			</p>
		</div>
		<div class="steps-item">
			<img src="~/assets/images/News/2.png" alt=""/>
			<p>
				You need to have an acct with one of our  clients
			</p>
		</div>
		<div class="steps-item">
			<img src="~/assets/images/News/3.png" alt=""/>
			<p>
				You need to have an acct with one of our  clients
			</p>
		</div>
		<div class="steps-item">
			<img src="~/assets/images/News/4.png" alt=""/>
			<p>
				You need to have an acct with one of our  clients
			</p>
		</div>
		<div class="steps-item">
			<img src="~/assets/images/News/5.png" alt=""/>
			<p>
				You need to have an acct with one of our  clients
			</p>
		</div>
	</section>

	<section class="screenshot-app">
		<h2>Screenshots of Our App</h2>
		<div class="screenshot-cont">
			<div class="screenshot-item">
				<img src="~/assets/images/News/patient profile 1.png" alt=""/>
			</div>
			<div class="screenshot-item">
				<img src="~/assets/images/News/Results 1.png" alt=""/>
			</div>
			<div class="screenshot-item">
				<img src="~/assets/images/News/Messaging 1.png" alt=""/>
			</div>
			<div class="screenshot-item">
				<img src="~/assets/images/News/Video call 1.png" alt=""/>
			</div>
		</div>
	</section>

	<section class="download-app">
		<div class="d-flex align-items-center justify-content-center text-center flex-column px-5">
			<h2 class="fs-1 p-0 m-0">Download Patient App Now!</h2>
			<p class="fs-3">
				To  enjoy unlimited access to care in the comfort of your home. Connect with your family doctor for easy and fast health care via calls, chat...
			</p>
			<div class="mt-4">
				<a href="#" class="mx-3">
					<img src="~/assets/images/News/AppStore.png" width="150px" alt=""/>
				</a>
				<a href="#" class="mx-3">
					<img src="~/assets/images/News/GooglePlay.png" width="150px" alt=""/>
				</a>
			</div>
		</div>
	</section>

	<section class="our-clients">
		<h2>Our Clients</h2>
		<div class="clients-cont">
			<div class="client-item">
				<img src="~/assets/images/News/REDDINGTON (4).png" alt=""/>
			</div>
			<div class="client-item">
				<img src="~/assets/images/News/REDDINGTON (3).png" alt=""/>
			</div>
			<div class="client-item">
				<img src="~/assets/images/News/REDDINGTON (2).png" alt=""/>
			</div>
			<div class="client-item">
				<img src="~/assets/images/News/REDDINGTON (1).png" alt=""/>
			</div>
			<div class="client-item">
				<img src="~/assets/images/News/REDDINGTON (5).png" alt=""/>
			</div>
		</div>
	</section>

	<section class="aboutUs">
        <div class="container-fluid px-md-5 px-sm-2">
            <div class="row p-0 aboutUsCont">
                <div class="left px-md-5 px-sm-1">
                    <div>
                        <h1 class="mb-3">
                            Meet our team of strategists, designers, and world-class problem solvers
                        </h1>
                    </div>
                    <div>
                        <p>
                            To provide the value our customers desire, it takes an eclectic group of passionate people (we call them Genies). Get to know the genies leading the way and creating the magic at Genesys Health
                        </p>
                    </div>
                    <div class="position-absolute hide" style="top:40%; left:80%;">
                        <div class="" style="transform: rotate(-55deg);">
                            <img src="~/assets/images/News/Asset 1@3x 1.png" alt="" width="100px"/>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="position-relative" style="width:350px;height:200px">
                        <div class="position-absolute" style="top:0;left:0">
                            <img src="~/assets/images/About Us/logo2.png" alt="" width="200px"/>
                        </div>
                        <div class="position-absolute" style="top:50px;left:80px">
                            <img src="~/assets/images/About Us/logo1.png" alt="" width="200px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section class="team">
        <div class="container flexpp-cont d-flex justify-content-center flex-column align-items-center">
            <div class="personnel-arrow personnel-arrow-left" onclick="scrollL()"><i class="bi bi-chevron-double-left"></i></div>
            <div class="d-flex flexpp mt-5">
                @if (personnels != null)
                {
                    @foreach (var personnel in personnels)
                    {
                        var content = personnel.Content;
                        var name = content.Value<string>("personnelName");
                        var image = content.Value<MediaWithCrops>("personnelIMG");
                        var designation = content.Value<string>("personnelDesignation");


                        <div class="mx-5 Frame shadow bg-body rounded p-4">
                            <div class="photoFrame">
                                <img src="@image?.MediaUrl()" class="img-fluid" alt=""/>
                            </div>
                            <div>
                                <p class="fw-bold fs-4 m-0 p-0 text-center">@name</p>
                                <p class="personnel-desg">@designation</p>
                                <div class="d-flex justify-content-center mt-4" style="color:#000;">
                                    <div class="mx-2">
                                        <a href="">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="mx-2">
                                        <a href="">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                    <div class="mx-2">
                                        <a href="">
                                            <i class="bi bi-linkedin"></i>
                                        </a>
                                    </div>
                                    <div class="mx-2">
                                        <a href="">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="personnel-arrow personnel-arrow-right" onclick="scrollR()"><i class="bi bi-chevron-double-right"></i></div>
        </div>
    </section>
</div>

 @await Html.PartialAsync("~/Views/Partials/_footer.cshtml")