@inherits UmbracoViewPage<ContentModels.Newsletter>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
}

<div class="container-fluid p-0">
    <div class="newshead">
        <div class="container-fluid px-0">
            <div>
                <h2 class="text-center p-0 m-0">Newsletter</h2>
                <div class="container w-75 px-5">
                    <p class="text-center fs-4">
                        Get the latest news with our GeneSys Health Tech Insider newsletter
                    </p>
                </div>
            </div>
            <div class="newsSlider">
                <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-id="0">
                            <img src="~/assets/images/News/Asset 2@3x 1.png" alt="">
                        </div>
                        <div class="carousel-item" data-id="1">
                            <img src="~/assets/images/News/Asset 2@3x 1.png" alt="">
                        </div>
                        <div class="carousel-item" data-id="2">
                            <img src="~/assets/images/News/Asset 2@3x 1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid news">
        <div class="row newslet">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                <div class="imgBxII">
                    <div class="newst">
                        <div class="newstinner">
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/Newsletter.png" alt=""/>
                                </a>
                            </div>
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/Newsletter2.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                <div class="w-75">
                    <div>
                        <p class="fs-4 title-date">NEWSLETTER - JULY 01, 2022 </p>
                    </div>
                    <div>
                        <h3 class="fw-bold fs-1">Health Tech Insider - Maiden Edition</h3>
                    </div>
                    <div>
                        <p class="fs-4">8mins ago</p>
                    </div>
                    <div>
                        <a class="fs-2" href="#">View Live Project</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row newslet">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                <div class="imgBxII">
                    <div class="newst">
                        <div class="newstinner">
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/Newsletter.png" alt=""/>
                                </a>
                            </div>
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/Newsletter2.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                <div class="w-75">
                    <div>
                        <p class="fs-4 title-date">NEWSLETTER - JULY 01, 2022 </p>
                    </div>
                    <div>
                        <h3 class="fw-bold fs-1">Health Tech Insider - Maiden Edition</h3>
                    </div>
                    <div>
                        <p class="fs-4">8mins ago</p>
                    </div>
                    <div>
                        <a class="fs-2" href="#">View Live Project</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row newslet">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                <div class="imgBxII">
                    <div class="newst">
                        <div class="newstinner">
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/Newsletter.png" alt=""/>
                                </a>
                            </div>
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/Newsletter2.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                <div class="w-75">
                    <div>
                        <p class="fs-4 title-date">NEWSLETTER - JULY 01, 2022 </p>
                    </div>
                    <div>
                        <h3 class="fw-bold fs-1">Health Tech Insider - Maiden Edition</h3>
                    </div>
                    <div>
                        <p class="fs-4">8mins ago</p>
                    </div>
                    <div>
                        <a class="fs-2" href="#">View Live Project</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row newslet">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                <div class="imgBxII">
                    <div class="newst">
                        <div class="newstinner">
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/Newsletter.png" alt=""/>
                                </a>
                            </div>
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/Newsletter2.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                <div class="w-75">
                    <div>
                        <p class="fs-4 title-date">NEWSLETTER - JULY 01, 2022 </p>
                    </div>
                    <div>
                        <h3 class="fw-bold fs-1">Health Tech Insider - Maiden Edition</h3>
                    </div>
                    <div>
                        <p class="fs-4">8mins ago</p>
                    </div>
                    <div>
                        <a class="fs-2" href="#">View Live Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container newsletter">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-10 second">
                <h3 class="sbns">Want updates straight to your inbox?</h3>
                <p class="fs-5 mb-5">
                    We know you barely have time for all the hustle and bustle of everyday life, but you still want to stay on top of your health trends, 
                    news and the buzz of healthcare. Our GeneSys Health Tech Insider newsletter is loaded with the best of content across the intersection 
                    of health and tech. 
                    We urge you to kick back, chill and relax, while you read.
                </p>
                <form action="https://genesys-health.us14.list-manage.com/subscribe/post?u=ab97c0ec2b3935027b5fb874e&amp;id=21d3b63641&amp;f_id=003709e0f0" method="post" id="mc-embedded-subscribe-form" class="mt-5 validate" target="_blank" nonvalidate>
                    <div class="row gap-2 form-group">
                        <div class="col-7 p-0 form-group">
                            <input type="email" name="EMAIL" class="form-control rounded-start py-4 fw-bold fs-5 ps-3" placeholder="Enter your e-mail address" required/>
                        </div>
                        <div class="col-4 d-grid p-0 form-group">
                            <button type="submit" name="subscribe" class="fw-bold fs-5" style="border-radius:0 5px 5px 0; background: #005AC0; border:1px solid transparent; color:white;">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-8">
                <img src="~/assets/images/ffv 1.png" width="420px" alt="" />
            </div>
        </div>
    </div>
</div>

 @await Html.PartialAsync("~/Views/Partials/_footer.cshtml")