@inherits UmbracoViewPage<ContentModels.PrivacyPage>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
}

<div class="container privacy" id="privacy">
	<h1 class="text-center">Privacy Policy</h1>
	<div class="row">
		<div class="col-lg-8 col-md-12 px-5 content">
			<p>
				Website is defined as the websites, web applications, portals and web services that are owned and operated by Genesys Health Information Systems Limited. Unless otherwise noted on the Website, each web page included within the Website is governed by this Privacy Policy. <br><br>

				Our Privacy Policy below outlines the type of information we collect and receive from you while you are within the Website and using the User forums, as well as ways in which we process and, sometimes, share such information and how you can correct or change such information. PLEASE REVIEW THE TERMS OF USE AND THIS PRIVACY POLICY CAREFULLY.  YOUR USE OF THIS WEBSITE AS A VISITOR TO THE WEBSITE OR, IF APPLICABLE, YOUR REGISTRATION AS A “USER” WITH A USER ACCOUNT SIGNIFIES YOUR AGREEMENT TO THE TERMS OF THIS PRIVACY POLICY.
			</p>
			<div>
				<h3 id="1">How We Collect “User Information”</h3>
				<h4 id="1a">“Personal Information” you provide to us</h4>
				<p>
					“Personally Identifiable Personal Information” is any information that can be used to identify a specific individual, such as your name, e-mail address, home address, and phone number.  We ask you to provide such personal data in various places throughout the Website.  For example, when you are registered and required to sign-up we ask you to provide your e-mail address, a user name and a password, we may ask you to provide your card information (i.e., number and expiration date)<br/><br>

					In addition, you may choose to provide us with additional “Non-Personally Identifiable Personal Information” about you and/or your personal preferences, including, for example, personal preferences in response to consumer surveys. <br><br>

					Some of these areas where the collection of such information takes place are listed below: <br><br>
					<b>Registration:</b><br>

					In order to use the User forums, we ask you to register to become a “User”.  During this registration process, we will ask you for certain “Personal Information,” including your e-mail address, a user name and password. <br><br>

					

					<b>Surveys, Polls and Questionnaires: </b><br>

					We may offer to you via e-mail and the forums online surveys and questionnaires that ask you for “Personal Information”.  Occasionally, we may request “Personal Information” such as demographic information (like zip code, age or gender) when you answer a survey.  Such surveys are completely voluntary. <br><br>

					

					<b>E-mail Contact Regarding Questions and for Reporting a Problem with the Website: </b><br>

					You may provide us with certain Personal Information whenever you contact us regarding questions about the Website, User Forums or software or to report any problems that you might be experiencing with the Website.  If you contact us, we keep a record of that interaction, including any e-mail that you send to us. <br><br>
				</p>
				<h4 id="1b">“Web Activity Information” gathered by us and our third-party service providers</h4>
				<p>
					When you visit the Website and interact with the services and tools that reside there, we may collect information on your actions at the Website or “Web Activity Information”. In doing so, we may utilize the services of certain third-party service providers. <br><br>
 
					This type of “Web Activity Information” is generally collected from two sources.  One is from the server log files and the other is from cookies. <br><br>

					<b>IP Address</b><br> 

					Your IP address is a number that is assigned by your ISP (Internet Service Provider) to your computer to identify its location. We use your IP address to help diagnose problems with our server and to administer our website. We also sometimes use IP addresses to communicate with Users, monitor our Website, prevent fraud and possibly even ban those visitors or users who are not complying with our Terms of Use. <br><br>

					

					<b>Cookies</b> <br>

					Our site uses a feature of your browser to set a “cookie” on your computer. Cookies are small packets of information that a site’s computer stores on your computer. We can then read the cookies whenever you visit the Website. We use cookies to save your password so you don’t have to re-enter it each time you visit our site, to deliver content specific to your interests, to track the pages you’ve visited and to make sure you don’t see the same ads repeatedly. These cookies allow us to use the Web Activity Information we collect to customize your experience so that your visit to the Website is as relevant and as valuable to you as possible. <br><br>

					You may modify your browser preference to provide you with choices relating to cookies. You have the choice to accept all cookies, to be notified when a cookie is set or to reject all cookies. If you choose to reject cookies, you may be unable to use that part of the Website or User forums that require registration in order to participate or will have to sign in each time you visit the Website. <br><br>

					Advertisements at the Website might deliver a cookie to you so that the advertisements that you see can be tracked and the advertiser can ensure that you are not shown the same advertisement too many times. Since the advertiser only tags your computer with a number at the time that you are using the Website, there is no knowledge about who you are.  We do not provide advertisers with any “Personally Identifiable Information” about you. <br><br>

					This privacy statement covers our use of cookies only and does not cover the use of cookies or web beacons by any advertisers on the Website or any other business partners.  Some of our business partners (e.g., advertisers) use cookies on our Website.  We have no access or control over these cookies. <br><br>

					However, we may use and share with these companies aggregate “Non-Personally Identifiable Personal Information” or “Web Activity Information” about your visits to the Website and other sites in order to provide future advertisements about goods and services of interest to you.  If you would like more information about this practice and to know your choices about not having this information used by these companies, click here. <br><br>
				</p>
			</div>
			<div>
				<h3 id="2">Guidelines Regarding Children</h3>
				<p>
					Personal information about children is a concern for all of us. We take the protection of children’s privacy very seriously.   We do not encourage participation or visitation by children. Visitors who are known to be under the age of 13 are prohibited from becoming a User of the User forums.
				</p>
			</div>
			<div>
				<h3 id="3">How We Use “User Information” We Collect</h3>
				<p>
					We use the “Personal Information” and “Web Activity Information” you provide for several purposes, such as to communicate with you and to operate and improve the Website and to give you a better experience when visiting us by personalizing tools, content, services and e-mail messages.   We also use this “User Information” to build new services and develop offers that we believe are more relevant and valuable to you. <br><br>
 

					The “Non-Personally Identifiable Personal Information” and “Web Activity Information” collected by us is also used to create aggregated portraits of our audience, that is, portraits which present anonymous statistical demographic information, but no personal data or Personally Identifiable Information.  For instance, we gather information about how you use the Website using log files, tracking pixels and database history tables.  This aggregated information is used, among other things, to determine trends and needs and it is compiled and analyzed on an aggregate and de-identified basis.  For example, we may create a report that tells advertisers that 40 percent of our members are males in a certain age range so that they can determine which of their products or services are most appropriate for our members. <br><br>

					We will also use the aggregated “Non-Personally Identifiable Personal Information” and “Web Activity Information” discussed above, but no “Personally Identifiable Personal Information” linked to it, to supply market research to third-parties to help them understand who our audience is. <br><br>
					

					Unless you edit your User Account and disable the “Receive e-mails” option (see “Opting-Out” below), we will use your e-mail address to send you e-mails regarding product announcements and may share your “User Information” with Affiliates and Third-Party Affiliates (see “You Opt-In for Disclosure of ‘User Information’ to Certain Third Parties” below) for purposes of contacting and directly marketing to you via e-mail. <br><br>

					We will also use your e-mail address to send you e-mails that are generated when you perform certain functions at the Website.  The types of e-mails that are sent include, but are not limited to, software license ordering e-mails and welcome e-mails for the User forums. <br><br>
				</p>
			</div>
			<div>
				<h3 id="4">You Opt-In for Disclosure of “User Information” to Certain Third Parties.</h3>
				<p>
					We do not sell or otherwise share any “User Information” with unaffiliated third parties without your consent (please see “Our Opt-In/Opt-Out Policy” below), except in the following instances: (i) disclosure is required by applicable law or pursuant to a court or similar order or we otherwise believes in good faith that the law requires it; (ii) as deemed necessary, in our sole discretion, to enforce our legal rights or to protect our property, to enforce or protect the legal rights or property of a User or any other third party, or to prevent personal injury of any person; (iii) in the event of a sale, merger, assignment, joint venture or other transfer or disposition of a portion or all of our assets or stock or the assets or stock of any of our affiliated entities (including, without limitation, in connection with any bankruptcy or similar proceedings); (iv) disclosure of aggregate “Non-Personally Identifiable Personal Information” and “Web Activity Information” to third-parties for purposes of market research and (v) disclosure to any of our third-party service providers.  More specifically, we may provide “User Information” to third parties who are providing technical or fulfilment services on our behalf when such disclosure is required in order to provide those services, such as card information and other relevant information to our third-party card processing company, the company that will collect your card number, expiration date, CCV and/or PIN from you in order to process payment for your services.  The card details are encrypted for added security during these transmissions.  Note that, under the terms of our agreement with our card processing company, they agree that they will not use personal information about you for any purpose other than to process transactions for us. <br><br>

 

					Unless you edit your User Account and disable the “Receive e-mails” option (see “Opting-Out” below), we also reserve the right to share any “User Information” which you provide to (or which is gathered from) us with (i) any or all of our subsidiaries and affiliates (collectively, our “Affiliates“) and (ii) third-parties participating in any of our affiliate programs or with which we have a marketing, sponsorship or advertising relationship (collectively, our “Third-Party Affiliates”) (subject to the “opt-out” right described below, with respect to disclosures of “User Information” to Affiliates for their direct marketing uses) for purposes of contacting or direct marketing to you via e-mail.  We will also have access to any information you provide to (or which is gathered from) the web sites of any of our Affiliates or Third-Party Affiliates. <br><br>

					

					As stated above, the “Non-Personally Identifiable Personal Information” and “Web Activity Information” you provide on pages of the Website, including those that are co-branded with a third party (including tools that are hosted by a third party), may be shared with third-parties on an aggregated basis, for market research purposes, and in these instances, your permission will not be requested since no personal data or “Personally Identifiable Information” will be shared or provided to these third parties. We will, however, use commercially reasonable efforts to contractually require all such third parties to agree not to use any “Non-Personally Identifiable Personal Information” about you, in conjunction with other sources of information, or otherwise, to identify you. 
				</p>
			</div>
			<div>
				<h3 id="5">Genesys Health Information Systems Limited Opting-In</h3>
				<p>
					When you set up a User Account you agree (opt-in) that we may contact you via e-mail with product information and special offers or news about us and we may share your “User Information” with Affiliates and Third-Party Affiliates.  If you do not wish to receive the e-mails, you may opt-out in the manner described under “Opting-Out” below. <br><br>
 
					You also agree that we may provide you with information about the opportunity to receive offers, goods and services directly from select companies other than us.  In such instances where you have opted-in to receive such offers, goods and services from third parties, we will share your information with such third parties and will often provide you access to the Privacy Policy of the third party for your review via a link. <br><br>

					

					For purposes of this Privacy Policy, “opt-in” is generally defined as any affirmative action by a visitor or User to submit or receive information, as the case may be. <br><br>

					

					In some instances, when you have the opportunity on the Website to subscribe to a newsletter or purchase products offered by a third-party e-mail service, advertiser or partner, the e-mail address information will be located on the third party’s server and any information you provide is subject to that entity’s Privacy Policy, not this one. <br><br>

					

					If you have additional questions about how one of the advertisers, partners or sponsors on our Website use information about you, we urge you to contact them directly. <br><br>
				</p>
				<h4>Opting-Out</h4>
				<p>
					We currently provide the following opt-out opportunities: <br><br>

					At any time, you can edit your User Account and disable the “Receive e-mails” option. 

					At any time, you can follow a link provided in every newsletter or e-mail message (except for e-commerce confirmation or service notice e-mails) to unsubscribe from that mailing list or e-mail service. <br><br>

					Also, remember, once you have provided information directly to any third-party (including any “Affiliate” or “Third-Party Affiliate”), if you Opt-out as noted above, we cannot require the third-party to delete any of the information that you have already provided because the third-party’s use of that information will be subject to that third-party’s privacy policy, but we can, and will, no longer contact you or share your information in the future with such parties. <br><br>
					

					Notwithstanding anything else in this Privacy Policy, please note that we reserve the right to contact you in the event of a change in the Terms of Use and/or this Privacy Policy or a need to contact you regarding your User Account or your use of the user forums or to respond to any inquiries that you’ve made of us. <br><br>

					AT ANY TIME, YOU CAN OPT-OUT BY EXERCISING ONE OF THE OPT-OUT OPPORTUNITIES DESCRIBED ABOVE AND WE WILL NOT USE ANY PERSONAL INFORMATION TO CONTACT YOU FOR MARKETING PURPOSES. 
				</p>
			</div>
			<div>
				<h3 id="6">Third-Party Advertising and Links to Other Sites.</h3>
				<p>
					The Website may contain links to participating service provider websites that are not co-branded or affiliated with us in any way. We cannot be responsible for the privacy practices or the content of such websites, and we do not control the practices of any of our service providers to whose sites we link. 
				</p>
			</div>
			<div>
				<h3 id="7">Access and Editing/Correction</h3>
				<p>
					We provide you with the ability to access, correct or change the “Personal Information” in your User portrait at any time, including contact information, card information or other information you’ve provided to us.  To review, modify or delete your “User Information,” please click here. Please be advised that we currently archive information we collect on our Users and Visitors. 
				</p>
			</div>
			<div>
				<h3 id="8">How we protect and secure your Personal Information</h3>
				<p>
					The importance of security for all “Personal Information” associated with our visitors and users is of utmost concern to us. <br><br>

					First, all of your “Personal Information” requires use of your password. We recommend that you do not share your password with anyone. <br><br>

					Second, we exercise reasonable care in providing secure transmission of your “Personal Information” from your PC to our servers and ensuring the security of your information on our systems.   For example, we use industry-standard tools, such as firewalls and SSL encryption (for login and checkout pages), in an attempt to make your information secure and confidential.  Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we take steps to protect your information, we can’t ensure or warrant the security of any “Personal Information” you transmit to us or from our online products or services, and you do so entirely at your own risk. 
				</p>
			</div>
			<div>
				<h3 id="9">Applicable Law</h3>
				<p>
					We control and operate the Website from Nigeria. The Website is not intended to subject us to the privacy laws or jurisdiction of any state, country or territory other than that of the Federal Republic of Nigeria.  Please note that we do not represent or warrant that the Website is appropriate for use in any particular jurisdiction.  Those who choose to access the Website do so at their own initiative and are responsible for complying with all local laws, rules and regulations.
				</p>
			</div>
			<div>
				<h3 id="10">Changes to this Privacy Policy</h3>
				<p>
					We will notify our Visitors and Users when we make any significant changes to our Privacy Policy that affect the use of any personally identifiable information we collect. We will not make new use of any “User Information” which we gathered from individual Users or Visitors prior to any such significant change in our Privacy Policy without first obtaining the User’s or Visitor’s consent for any new uses. <br><br>

					In instances where we ask for your “Personal Information” and we tell you the data we are collecting on that page will be shared with unaffiliated third parties, and in cases where a Visitor or User to the Website opts-in to share his/her “Personal Information” with third parties, those disclosures and opt-ins will override anything to the contrary in this Privacy Policy. <br><br>

					In addition, we reserve the right to make non-significant changes to our Privacy Policy that will not affect our use of “User Information” at any time without any notice to you other than posting any such changes in a revised Privacy Policy on the Website. <br><br>

					We encourage you to periodically review our Privacy Policy to be sure you are familiar with the most current version. <br><br>

					The Privacy Policy will include the most recent date in which any revision has been made. Please note that this Privacy Policy is also incorporated into the Terms of Use. 
				</p>
			</div>
			<div>
				<h3 id="11">Contact Information</h3>
				<p>
					If you have questions about this Privacy Policy or anything else about Genesys Health Information Systems Limited, you may direct them to  info@genesys-health.com 
				</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 px-5">
			<h3>Table of contents</h3>
			<ol>
				<li>
					<a href="#1">How We Collect “User Information” </a>
					<ul>
						<li>
							<a href="#1a">“Personal Information” you provide to us </a>
						</li>
						<li>
							<a href="#1b">“Web Activity Information” we collect from the Website</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#2">Guidelines Regarding Children </a>
				</li>
				<li>
					<a href="#3">How We Use “User Information” We Collect</a>
				</li>
				<li>
					<a href="#4">Disclosure of “User Information” to Third Parties</a>
				</li>
				<li>
					<a href="#5">Our Opt-in/Opt-out Policy</a>
				</li>
				<li>
					<a href="#6">Third-Party Advertising and Links to other Sites</a>
				</li>
				<li>
					<a href="#7">Access and Editing/Correction</a>
				</li>
				<li>
					<a href="#8">How we protect and secure your Personal Information</a>
				</li>
				<li>
					<a href="#9">Applicable Law</a>
				</li>
				<li>
					<a href="#10">Changes to this Privacy Policy</a>
				</li>
				<li>
					<a href="#11">Contact Information</a>
				</li>
				<li>
					<a href="#">Effective Date</a>
				</li>
			</ol>
			<div class="my-4 bTop">
				<a href="#privacy" class="p-0 m-0" style="text-decoration: none;">Back to top <i class="bi bi-arrow-up"></i></a>
			</div>
		</div>
	</div>
</div>