@inherits UmbracoViewPage<ContentModels.ProductUpdates>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
    var newsletters = Model.Value<BlockGridModel>("news");
    List<BlockGridItem> product_update = new List<BlockGridItem>();


    if(newsletters != null)
    {
        @foreach(var newsletter in newsletters)
        {
            if(newsletter.Content.Value<string>("newsCategory") == "Product Updates")
            {
                product_update.Add(newsletter);
            } 
        }
    }
}

<div class="container-fluid p-0 position-relative">
    <div class="newshead">
        <div class="container-fluid px-0">
            <div>
                <h2 class="text-center p-0 m-0">Latest Product Updates</h2>
                <div class="container w-75 px-5">
                    <p class="text-center fs-4">
                        Get latest news on our latest product
                    </p>
                </div>
            </div>
            <div class="newsSlider">
                <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-pu">
                        <div class="carousel-item smm active" data-id="0">
                            <img src="~/assets/images/News/ChatGPT.png" alt="">
                        </div>
                        <div class="carousel-item smm" data-id="1">
                            <img src="~/assets/images/News/ChatGPT.png" alt="">
                        </div>
                        <div class="carousel-item smm" data-id="2">
                            <img src="~/assets/images/News/ChatGPT.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid news">
        @if(product_update.Any())
        {
            foreach (var item in product_update)
            {
                var content = item.Content;
                var date = content.Value<DateTime>("newsDate");
                var link = content.Value<Link>("newsLink");
                var summary = content.Value<string>("newsSummary");
                var title = content.Value<string>("newsTitle");
                var news = content.Value<BlockGridModel>("news");
                var category = content.Value<string>("newsCategory");
                
                <div class="row newslet">
                    <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                        <div class="imgBxII">
                            <div class="newst">
                                <div class="newstinner">
                                    @if(news != null)
                                    {
                                        @foreach (var comp in news)
                                        {
                                            var newsItem = comp.Content;
                                            var newsLink = newsItem.Value<Link>("bookLink");
                                            var newsImage = newsItem.Value<MediaWithCrops>("bookImage");
                                            var newsContent = newsItem.Value<IHtmlEncodedString>("bookContent");

                                            <div class="imgcont">
                                                <a href="@newsLink?.Url">
                                                    <img src="@newsImage?.MediaUrl()" alt=""/>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                        <div class="w-75">
                            <div>
                                <p class="fs-4 title-date">@category - @date.ToLongDateString() </p>
                            </div>
                            <div>
                                <h3 class="fw-bold fs-1">@title</h3>
                            </div>
                            <div>
                                <p class="fs-4">@summary</p>
                            </div>
                            <div>
                                <a style="cursor: pointer;" class="fs-2" data-id="111" onclick="openNewsRead(this)">View Live Project</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="newsRead" id="111">
                    <div class="newsContent">
                        <div class="headText">
                            <h2>@title</h2>
                        </div>
                        <div class="imgcont-newsRead">
                            <img src="@newsImage?.MediaUrl()" alt=""/>
                        </div>
                        <div class="bodyText">
                            <p>
                                @newsContent
                            </p>
                        </div>
                    </div>
                    <div class="newsClose" data-id="111" onclick="closeNewsRead(this)">
                        <i class="bi bi-x-lg"></i>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="newslet">
                @*If Empty*@
                <h3 class="text-center">No Product Update yet<br/>Check back later</h3>
            </div>
        }
        <div class="row newslet">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                <div class="imgBxII">
                    <div class="newst prodUp">
                        <div class="newstinner">
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/ChatGPT.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                <div class="w-md-75 w-md-100">
                    <div>
                        <p class="fs-4 title-date">NEWSLETTER - JULY 01, 2022 </p>
                    </div>
                    <div>
                        <h3 class="fw-bold fs-1">Health Tech Insider - Maiden Edition</h3>
                    </div>
                    <div>
                        <p class="fs-4">8mins ago</p>
                    </div>
                    <div>
                        <a style="cursor: pointer;" class="fs-2" data-id="111" onclick="openNewsRead(this)">View Live Project</a>
                    </div>
                </div>
            </div>
            <div class="newsRead" id="111">
                <div class="newsContent">
                    <div class="headText">
                        <h2>GeneSys Health Self Service App</h2>
                    </div>
                    <div class="imgcont-newsRead">
                        <img src="~/assets/images/News/ChatGPT.png" alt=""/>
                    </div>
                    <div class="bodyText">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Vulputate pellentesque cursus nibh vehicula tortor massa duis nulla sed. Tortor blandit ante suspendisse tellus viverra euismod. Sit pulvinar egestas enim euismod eu volutpat ullamcorper purus at. Ac amet nunc rhoncus morbi et quis nibh. Quam quam ut aliquam elementum. Nisl viverra nisi pulvinar lobortis. Enim sit faucibus ultrices id amet duis eget. Nulla convallis mauris nulla eget ultrices nunc facilisis tincidunt.
                            Mi felis integer nisi morbi imperdiet sed id eget. Sed at ipsum mi praesent odio in nulla. Placerat viverra eget pellentesque viverra lacus. At ultricies cras nunc pretium feugiat velit ut cursus. Eros vitae donec diam varius porta. Aliquam suspendisse odio ipsum egestas. Non nunc in nec enim facilisis nec tellus ac. Eget sed tortor sem orci nec feugiat. Viverra odio nunc in quam urna amet.
                            Faucibus etiam eget morbi egestas malesuada. Volutpat in bibendum pulvinar lacus. Cursus in lacus ipsum lorem quis. Tellus nunc ullamcorper nibh sit ligula dictumst volutpat. Tincidunt elit eu enim varius feugiat. Maecenas pellentesque dapibus eros id sed tellus. Vitae placerat justo accumsan consequat faucibus diam quis. Feugiat neque nisi purus nisi nulla lacus bibendum morbi. Venenatis eleifend turpis purus elementum faucibus at at elementum morbi. Arcu id faucibus molestie pellentesque donec nec cursus adipiscing nibh. Augue aenean vitae accumsan morbi odio eget accumsan lobortis. Tempus ac scelerisque et in non quisque fermentum vel non. Integer quis id nulla commodo et viverra. Pulvinar nunc sapien metus neque.
                            Suscipit tortor amet pretium non mauris risus facilisis. Diam eros aliquam suspendisse nunc aenean. Mattis nisl enim tempus augue vel massa bibendum. Rhoncus non eu condimentum lobortis commodo nullam erat. Elementum eu augue lectus ac et gravida. Sed morbi purus vel diam iaculis egestas integer. Viverra facilisi adipiscing tortor elit amet felis. Morbi viverra lorem faucibus tincidunt. Viverra duis proin lacus pellentesque consequat nunc lobortis nullam mi. Eu eget sed vivamus tincidunt mauris pellentesque aliquam metus. Diam dignissim etiam urna volutpat feugiat aliquet. Vulputate ut quisque turpis tristique magna quisque. Mattis commodo posuere fusce aliquet. Non ut laoreet non elit nibh. Elementum etiam tortor nisl pulvinar egestas.
                            Pretium porttitor gravida ut sit massa amet bibendum egestas id. Placerat commodo ultricies sit commodo molestie sit. Auctor etiam aliquet quis porttitor in nulla velit. Tortor risus ultrices diam pharetra. Interdum porta diam tortor duis quis cursus arcu. Ullamcorper laoreet sed velit cursus mi. Etiam amet ut scelerisque porta sapien pharetra varius egestas sodales. Mauris mus feugiat nunc nunc. Sit elementum sit dui consectetur praesent. Morbi diam lectus risus euismod eleifend varius. Lobortis accumsan velit amet feugiat nibh fermentum. Interdum tortor fusce dictumst magna ut tristique sed leo vestibulum. Feugiat eu tortor massa tellus aliquet semper vitae magna. Metus morbi id ac porta.
                            Laoreet ac erat diam urna pharetra. Pharetra tristique eget ultrices commodo tellus. Mauris dictum mattis sodales hac amet bibendum cursus tincidunt vestibulum. In eget egestas vitae maecenas lacus mauris lacus aliquam. Sed risus integer condimentum amet varius nisl. Nunc eget rhoncus nec enim facilisis accumsan. Sagittis ante risus cursus id morbi porta. Eget porttitor hac interdum sem laoreet tempor sit. Porta eget in nibh volutpat amet eget neque pellentesque. Nulla consequat turpis vel velit curabitur.
                            A habitasse mi faucibus integer ridiculus. Vulputate sagittis sapien pulvinar commodo orci vitae commodo viverra. Integer sapien rutrum fermentum mattis consequat libero mi pellentesque. Molestie etiam interdum adipiscing quam nulla sed. Rhoncus cras interdum malesuada odio ultricies. Nunc vitae lobortis purus est et sed donec habitant.
                            Luctus donec commodo risus sed magna pretium sodales dui gravida. Viverra venenatis leo lorem nec lorem. Sem commodo tellus sed ullamcorper suspendisse porttitor non. Proin eget mauris est tincidunt porttitor varius viverra facilisis fames. Lectus faucibus sed placerat nunc tellus netus ipsum. Gravida viverra sed nullam neque nisl arcu. Sodales leo nunc suspendisse nec adipiscing ac nullam velit. Et morbi adipiscing lacus lectus. Nunc nunc sit ac ut tellus euismod. Pretium ullamcorper elit tellus tristique ullamcorper mi accumsan consectetur.
                            Mollis quis tellus amet sem. Quisque bibendum fusce aliquam scelerisque nunc sed. In pulvinar vestibulum malesuada quam sodales. Ac mauris ut dictumst sagittis sed augue gravida massa elementum. Accumsan tortor sem pulvinar blandit lorem elementum. Nibh enim dui pretium aenean amet.
                            Suspendisse pulvinar suspendisse feugiat pretium. Semper bibendum lacus lacus nunc duis tempor. Urna vel id libero facilisis. Lectus in id eros neque id pharetra facilisis pellentesque odio. Quam amet ac maecenas quis donec scelerisque lectus. Lectus cras sagittis malesuada porttitor habitant libero aliquam feugiat. Tristique morbi adipiscing tortor massa. Sed pretium tincidunt quisque enim eget consectetur posuere elit aliquet. Aliquet placerat risus venenatis faucibus quis sed condimentum id amet. Feugiat rhoncus nunc suscipit molestie.
                        </p>
                    </div>
                </div>
                <div class="newsClose" data-id="111" onclick="closeNewsRead(this)">
                    <i class="bi bi-x-lg"></i>
                </div>
            </div>
        </div>
        <div class="row newslet">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                <div class="imgBxII">
                    <div class="newst prodUp">
                        <div class="newstinner">
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/ChatGPT.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                <div class="w-md-75 w-md-100">
                    <div>
                        <p class="fs-4 title-date">NEWSLETTER - JULY 01, 2022 </p>
                    </div>
                    <div>
                        <h3 class="fw-bold fs-1">Health Tech Insider - Maiden Edition</h3>
                    </div>
                    <div>
                        <p class="fs-4">8mins ago</p>
                    </div>
                    <div>
                        <a style="cursor: pointer;" class="fs-2" data-id="222" onclick="openNewsRead(this)">View Live Project</a>
                    </div>
                </div>
            </div>
            <div class="newsRead" id="222">
                <div class="newsContent">
                    <div class="headText">
                        <h2>GeneSys Health Self Service App</h2>
                    </div>
                    <div class="imgcont-newsRead">
                        <img src="~/assets/images/News/ChatGPT.png" alt=""/>
                    </div>
                    <div class="bodyText">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Vulputate pellentesque cursus nibh vehicula tortor massa duis nulla sed. Tortor blandit ante suspendisse tellus viverra euismod. Sit pulvinar egestas enim euismod eu volutpat ullamcorper purus at. Ac amet nunc rhoncus morbi et quis nibh. Quam quam ut aliquam elementum. Nisl viverra nisi pulvinar lobortis. Enim sit faucibus ultrices id amet duis eget. Nulla convallis mauris nulla eget ultrices nunc facilisis tincidunt.
                            Mi felis integer nisi morbi imperdiet sed id eget. Sed at ipsum mi praesent odio in nulla. Placerat viverra eget pellentesque viverra lacus. At ultricies cras nunc pretium feugiat velit ut cursus. Eros vitae donec diam varius porta. Aliquam suspendisse odio ipsum egestas. Non nunc in nec enim facilisis nec tellus ac. Eget sed tortor sem orci nec feugiat. Viverra odio nunc in quam urna amet.
                            Faucibus etiam eget morbi egestas malesuada. Volutpat in bibendum pulvinar lacus. Cursus in lacus ipsum lorem quis. Tellus nunc ullamcorper nibh sit ligula dictumst volutpat. Tincidunt elit eu enim varius feugiat. Maecenas pellentesque dapibus eros id sed tellus. Vitae placerat justo accumsan consequat faucibus diam quis. Feugiat neque nisi purus nisi nulla lacus bibendum morbi. Venenatis eleifend turpis purus elementum faucibus at at elementum morbi. Arcu id faucibus molestie pellentesque donec nec cursus adipiscing nibh. Augue aenean vitae accumsan morbi odio eget accumsan lobortis. Tempus ac scelerisque et in non quisque fermentum vel non. Integer quis id nulla commodo et viverra. Pulvinar nunc sapien metus neque.
                            Suscipit tortor amet pretium non mauris risus facilisis. Diam eros aliquam suspendisse nunc aenean. Mattis nisl enim tempus augue vel massa bibendum. Rhoncus non eu condimentum lobortis commodo nullam erat. Elementum eu augue lectus ac et gravida. Sed morbi purus vel diam iaculis egestas integer. Viverra facilisi adipiscing tortor elit amet felis. Morbi viverra lorem faucibus tincidunt. Viverra duis proin lacus pellentesque consequat nunc lobortis nullam mi. Eu eget sed vivamus tincidunt mauris pellentesque aliquam metus. Diam dignissim etiam urna volutpat feugiat aliquet. Vulputate ut quisque turpis tristique magna quisque. Mattis commodo posuere fusce aliquet. Non ut laoreet non elit nibh. Elementum etiam tortor nisl pulvinar egestas.
                            Pretium porttitor gravida ut sit massa amet bibendum egestas id. Placerat commodo ultricies sit commodo molestie sit. Auctor etiam aliquet quis porttitor in nulla velit. Tortor risus ultrices diam pharetra. Interdum porta diam tortor duis quis cursus arcu. Ullamcorper laoreet sed velit cursus mi. Etiam amet ut scelerisque porta sapien pharetra varius egestas sodales. Mauris mus feugiat nunc nunc. Sit elementum sit dui consectetur praesent. Morbi diam lectus risus euismod eleifend varius. Lobortis accumsan velit amet feugiat nibh fermentum. Interdum tortor fusce dictumst magna ut tristique sed leo vestibulum. Feugiat eu tortor massa tellus aliquet semper vitae magna. Metus morbi id ac porta.
                            Laoreet ac erat diam urna pharetra. Pharetra tristique eget ultrices commodo tellus. Mauris dictum mattis sodales hac amet bibendum cursus tincidunt vestibulum. In eget egestas vitae maecenas lacus mauris lacus aliquam. Sed risus integer condimentum amet varius nisl. Nunc eget rhoncus nec enim facilisis accumsan. Sagittis ante risus cursus id morbi porta. Eget porttitor hac interdum sem laoreet tempor sit. Porta eget in nibh volutpat amet eget neque pellentesque. Nulla consequat turpis vel velit curabitur.
                            A habitasse mi faucibus integer ridiculus. Vulputate sagittis sapien pulvinar commodo orci vitae commodo viverra. Integer sapien rutrum fermentum mattis consequat libero mi pellentesque. Molestie etiam interdum adipiscing quam nulla sed. Rhoncus cras interdum malesuada odio ultricies. Nunc vitae lobortis purus est et sed donec habitant.
                            Luctus donec commodo risus sed magna pretium sodales dui gravida. Viverra venenatis leo lorem nec lorem. Sem commodo tellus sed ullamcorper suspendisse porttitor non. Proin eget mauris est tincidunt porttitor varius viverra facilisis fames. Lectus faucibus sed placerat nunc tellus netus ipsum. Gravida viverra sed nullam neque nisl arcu. Sodales leo nunc suspendisse nec adipiscing ac nullam velit. Et morbi adipiscing lacus lectus. Nunc nunc sit ac ut tellus euismod. Pretium ullamcorper elit tellus tristique ullamcorper mi accumsan consectetur.
                            Mollis quis tellus amet sem. Quisque bibendum fusce aliquam scelerisque nunc sed. In pulvinar vestibulum malesuada quam sodales. Ac mauris ut dictumst sagittis sed augue gravida massa elementum. Accumsan tortor sem pulvinar blandit lorem elementum. Nibh enim dui pretium aenean amet.
                            Suspendisse pulvinar suspendisse feugiat pretium. Semper bibendum lacus lacus nunc duis tempor. Urna vel id libero facilisis. Lectus in id eros neque id pharetra facilisis pellentesque odio. Quam amet ac maecenas quis donec scelerisque lectus. Lectus cras sagittis malesuada porttitor habitant libero aliquam feugiat. Tristique morbi adipiscing tortor massa. Sed pretium tincidunt quisque enim eget consectetur posuere elit aliquet. Aliquet placerat risus venenatis faucibus quis sed condimentum id amet. Feugiat rhoncus nunc suscipit molestie.
                        </p>
                    </div>
                </div>
                <div class="newsClose" data-id="222" onclick="closeNewsRead(this)">
                    <i class="bi bi-x-lg"></i>
                </div>
            </div>
        </div>
        <div class="row newslet">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                <div class="imgBxII">
                    <div class="newst prodUp">
                        <div class="newstinner">
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/ChatGPT.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                <div class="w-md-75 w-md-100">
                    <div>
                        <p class="fs-4 title-date">NEWSLETTER - JULY 01, 2022 </p>
                    </div>
                    <div>
                        <h3 class="fw-bold fs-1">Health Tech Insider - Maiden Edition</h3>
                    </div>
                    <div>
                        <p class="fs-4">8mins ago</p>
                    </div>
                    <div>
                        <a style="cursor: pointer;" class="fs-2" data-id="333" onclick="openNewsRead(this)">View Live Project</a>
                    </div>
                </div>
            </div>
            <div class="newsRead" id="333">
                <div class="newsContent">
                    <div class="headText">
                        <h2>GeneSys Health Self Service App</h2>
                    </div>
                    <div class="imgcont-newsRead">
                        <img src="~/assets/images/News/ChatGPT.png" alt=""/>
                    </div>
                    <div class="bodyText">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Vulputate pellentesque cursus nibh vehicula tortor massa duis nulla sed. Tortor blandit ante suspendisse tellus viverra euismod. Sit pulvinar egestas enim euismod eu volutpat ullamcorper purus at. Ac amet nunc rhoncus morbi et quis nibh. Quam quam ut aliquam elementum. Nisl viverra nisi pulvinar lobortis. Enim sit faucibus ultrices id amet duis eget. Nulla convallis mauris nulla eget ultrices nunc facilisis tincidunt.
                            Mi felis integer nisi morbi imperdiet sed id eget. Sed at ipsum mi praesent odio in nulla. Placerat viverra eget pellentesque viverra lacus. At ultricies cras nunc pretium feugiat velit ut cursus. Eros vitae donec diam varius porta. Aliquam suspendisse odio ipsum egestas. Non nunc in nec enim facilisis nec tellus ac. Eget sed tortor sem orci nec feugiat. Viverra odio nunc in quam urna amet.
                            Faucibus etiam eget morbi egestas malesuada. Volutpat in bibendum pulvinar lacus. Cursus in lacus ipsum lorem quis. Tellus nunc ullamcorper nibh sit ligula dictumst volutpat. Tincidunt elit eu enim varius feugiat. Maecenas pellentesque dapibus eros id sed tellus. Vitae placerat justo accumsan consequat faucibus diam quis. Feugiat neque nisi purus nisi nulla lacus bibendum morbi. Venenatis eleifend turpis purus elementum faucibus at at elementum morbi. Arcu id faucibus molestie pellentesque donec nec cursus adipiscing nibh. Augue aenean vitae accumsan morbi odio eget accumsan lobortis. Tempus ac scelerisque et in non quisque fermentum vel non. Integer quis id nulla commodo et viverra. Pulvinar nunc sapien metus neque.
                            Suscipit tortor amet pretium non mauris risus facilisis. Diam eros aliquam suspendisse nunc aenean. Mattis nisl enim tempus augue vel massa bibendum. Rhoncus non eu condimentum lobortis commodo nullam erat. Elementum eu augue lectus ac et gravida. Sed morbi purus vel diam iaculis egestas integer. Viverra facilisi adipiscing tortor elit amet felis. Morbi viverra lorem faucibus tincidunt. Viverra duis proin lacus pellentesque consequat nunc lobortis nullam mi. Eu eget sed vivamus tincidunt mauris pellentesque aliquam metus. Diam dignissim etiam urna volutpat feugiat aliquet. Vulputate ut quisque turpis tristique magna quisque. Mattis commodo posuere fusce aliquet. Non ut laoreet non elit nibh. Elementum etiam tortor nisl pulvinar egestas.
                            Pretium porttitor gravida ut sit massa amet bibendum egestas id. Placerat commodo ultricies sit commodo molestie sit. Auctor etiam aliquet quis porttitor in nulla velit. Tortor risus ultrices diam pharetra. Interdum porta diam tortor duis quis cursus arcu. Ullamcorper laoreet sed velit cursus mi. Etiam amet ut scelerisque porta sapien pharetra varius egestas sodales. Mauris mus feugiat nunc nunc. Sit elementum sit dui consectetur praesent. Morbi diam lectus risus euismod eleifend varius. Lobortis accumsan velit amet feugiat nibh fermentum. Interdum tortor fusce dictumst magna ut tristique sed leo vestibulum. Feugiat eu tortor massa tellus aliquet semper vitae magna. Metus morbi id ac porta.
                            Laoreet ac erat diam urna pharetra. Pharetra tristique eget ultrices commodo tellus. Mauris dictum mattis sodales hac amet bibendum cursus tincidunt vestibulum. In eget egestas vitae maecenas lacus mauris lacus aliquam. Sed risus integer condimentum amet varius nisl. Nunc eget rhoncus nec enim facilisis accumsan. Sagittis ante risus cursus id morbi porta. Eget porttitor hac interdum sem laoreet tempor sit. Porta eget in nibh volutpat amet eget neque pellentesque. Nulla consequat turpis vel velit curabitur.
                            A habitasse mi faucibus integer ridiculus. Vulputate sagittis sapien pulvinar commodo orci vitae commodo viverra. Integer sapien rutrum fermentum mattis consequat libero mi pellentesque. Molestie etiam interdum adipiscing quam nulla sed. Rhoncus cras interdum malesuada odio ultricies. Nunc vitae lobortis purus est et sed donec habitant.
                            Luctus donec commodo risus sed magna pretium sodales dui gravida. Viverra venenatis leo lorem nec lorem. Sem commodo tellus sed ullamcorper suspendisse porttitor non. Proin eget mauris est tincidunt porttitor varius viverra facilisis fames. Lectus faucibus sed placerat nunc tellus netus ipsum. Gravida viverra sed nullam neque nisl arcu. Sodales leo nunc suspendisse nec adipiscing ac nullam velit. Et morbi adipiscing lacus lectus. Nunc nunc sit ac ut tellus euismod. Pretium ullamcorper elit tellus tristique ullamcorper mi accumsan consectetur.
                            Mollis quis tellus amet sem. Quisque bibendum fusce aliquam scelerisque nunc sed. In pulvinar vestibulum malesuada quam sodales. Ac mauris ut dictumst sagittis sed augue gravida massa elementum. Accumsan tortor sem pulvinar blandit lorem elementum. Nibh enim dui pretium aenean amet.
                            Suspendisse pulvinar suspendisse feugiat pretium. Semper bibendum lacus lacus nunc duis tempor. Urna vel id libero facilisis. Lectus in id eros neque id pharetra facilisis pellentesque odio. Quam amet ac maecenas quis donec scelerisque lectus. Lectus cras sagittis malesuada porttitor habitant libero aliquam feugiat. Tristique morbi adipiscing tortor massa. Sed pretium tincidunt quisque enim eget consectetur posuere elit aliquet. Aliquet placerat risus venenatis faucibus quis sed condimentum id amet. Feugiat rhoncus nunc suscipit molestie.
                        </p>
                    </div>
                </div>
                <div class="newsClose" data-id="333" onclick="closeNewsRead(this)">
                    <i class="bi bi-x-lg"></i>
                </div>
            </div>
        </div>
        <div class="row newslet">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                <div class="imgBxII">
                    <div class="newst">
                        <div class="newstinner">
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/ChatGPT.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                <div class="w-md-75 w-md-100">
                    <div>
                        <p class="fs-4 title-date">NEWSLETTER - JULY 01, 2022 </p>
                    </div>
                    <div>
                        <h3 class="fw-bold fs-1">Health Tech Insider - Maiden Edition</h3>
                    </div>
                    <div>
                        <p class="fs-4">8mins ago</p>
                    </div>
                    <div>
                        <a style="cursor: pointer;" class="fs-2" data-id="444" onclick="openNewsRead(this)">View Live Project</a>
                    </div>
                </div>
            </div>
            <div class="newsRead" id="444">
                <div class="newsContent">
                    <div class="headText">
                        <h2>GeneSys Health Self Service App</h2>
                    </div>
                    <div class="imgcont-newsRead">
                        <img src="~/assets/images/News/ChatGPT.png" alt=""/>
                    </div>
                    <div class="bodyText">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Vulputate pellentesque cursus nibh vehicula tortor massa duis nulla sed. Tortor blandit ante suspendisse tellus viverra euismod. Sit pulvinar egestas enim euismod eu volutpat ullamcorper purus at. Ac amet nunc rhoncus morbi et quis nibh. Quam quam ut aliquam elementum. Nisl viverra nisi pulvinar lobortis. Enim sit faucibus ultrices id amet duis eget. Nulla convallis mauris nulla eget ultrices nunc facilisis tincidunt.
                            Mi felis integer nisi morbi imperdiet sed id eget. Sed at ipsum mi praesent odio in nulla. Placerat viverra eget pellentesque viverra lacus. At ultricies cras nunc pretium feugiat velit ut cursus. Eros vitae donec diam varius porta. Aliquam suspendisse odio ipsum egestas. Non nunc in nec enim facilisis nec tellus ac. Eget sed tortor sem orci nec feugiat. Viverra odio nunc in quam urna amet.
                            Faucibus etiam eget morbi egestas malesuada. Volutpat in bibendum pulvinar lacus. Cursus in lacus ipsum lorem quis. Tellus nunc ullamcorper nibh sit ligula dictumst volutpat. Tincidunt elit eu enim varius feugiat. Maecenas pellentesque dapibus eros id sed tellus. Vitae placerat justo accumsan consequat faucibus diam quis. Feugiat neque nisi purus nisi nulla lacus bibendum morbi. Venenatis eleifend turpis purus elementum faucibus at at elementum morbi. Arcu id faucibus molestie pellentesque donec nec cursus adipiscing nibh. Augue aenean vitae accumsan morbi odio eget accumsan lobortis. Tempus ac scelerisque et in non quisque fermentum vel non. Integer quis id nulla commodo et viverra. Pulvinar nunc sapien metus neque.
                            Suscipit tortor amet pretium non mauris risus facilisis. Diam eros aliquam suspendisse nunc aenean. Mattis nisl enim tempus augue vel massa bibendum. Rhoncus non eu condimentum lobortis commodo nullam erat. Elementum eu augue lectus ac et gravida. Sed morbi purus vel diam iaculis egestas integer. Viverra facilisi adipiscing tortor elit amet felis. Morbi viverra lorem faucibus tincidunt. Viverra duis proin lacus pellentesque consequat nunc lobortis nullam mi. Eu eget sed vivamus tincidunt mauris pellentesque aliquam metus. Diam dignissim etiam urna volutpat feugiat aliquet. Vulputate ut quisque turpis tristique magna quisque. Mattis commodo posuere fusce aliquet. Non ut laoreet non elit nibh. Elementum etiam tortor nisl pulvinar egestas.
                            Pretium porttitor gravida ut sit massa amet bibendum egestas id. Placerat commodo ultricies sit commodo molestie sit. Auctor etiam aliquet quis porttitor in nulla velit. Tortor risus ultrices diam pharetra. Interdum porta diam tortor duis quis cursus arcu. Ullamcorper laoreet sed velit cursus mi. Etiam amet ut scelerisque porta sapien pharetra varius egestas sodales. Mauris mus feugiat nunc nunc. Sit elementum sit dui consectetur praesent. Morbi diam lectus risus euismod eleifend varius. Lobortis accumsan velit amet feugiat nibh fermentum. Interdum tortor fusce dictumst magna ut tristique sed leo vestibulum. Feugiat eu tortor massa tellus aliquet semper vitae magna. Metus morbi id ac porta.
                            Laoreet ac erat diam urna pharetra. Pharetra tristique eget ultrices commodo tellus. Mauris dictum mattis sodales hac amet bibendum cursus tincidunt vestibulum. In eget egestas vitae maecenas lacus mauris lacus aliquam. Sed risus integer condimentum amet varius nisl. Nunc eget rhoncus nec enim facilisis accumsan. Sagittis ante risus cursus id morbi porta. Eget porttitor hac interdum sem laoreet tempor sit. Porta eget in nibh volutpat amet eget neque pellentesque. Nulla consequat turpis vel velit curabitur.
                            A habitasse mi faucibus integer ridiculus. Vulputate sagittis sapien pulvinar commodo orci vitae commodo viverra. Integer sapien rutrum fermentum mattis consequat libero mi pellentesque. Molestie etiam interdum adipiscing quam nulla sed. Rhoncus cras interdum malesuada odio ultricies. Nunc vitae lobortis purus est et sed donec habitant.
                            Luctus donec commodo risus sed magna pretium sodales dui gravida. Viverra venenatis leo lorem nec lorem. Sem commodo tellus sed ullamcorper suspendisse porttitor non. Proin eget mauris est tincidunt porttitor varius viverra facilisis fames. Lectus faucibus sed placerat nunc tellus netus ipsum. Gravida viverra sed nullam neque nisl arcu. Sodales leo nunc suspendisse nec adipiscing ac nullam velit. Et morbi adipiscing lacus lectus. Nunc nunc sit ac ut tellus euismod. Pretium ullamcorper elit tellus tristique ullamcorper mi accumsan consectetur.
                            Mollis quis tellus amet sem. Quisque bibendum fusce aliquam scelerisque nunc sed. In pulvinar vestibulum malesuada quam sodales. Ac mauris ut dictumst sagittis sed augue gravida massa elementum. Accumsan tortor sem pulvinar blandit lorem elementum. Nibh enim dui pretium aenean amet.
                            Suspendisse pulvinar suspendisse feugiat pretium. Semper bibendum lacus lacus nunc duis tempor. Urna vel id libero facilisis. Lectus in id eros neque id pharetra facilisis pellentesque odio. Quam amet ac maecenas quis donec scelerisque lectus. Lectus cras sagittis malesuada porttitor habitant libero aliquam feugiat. Tristique morbi adipiscing tortor massa. Sed pretium tincidunt quisque enim eget consectetur posuere elit aliquet. Aliquet placerat risus venenatis faucibus quis sed condimentum id amet. Feugiat rhoncus nunc suscipit molestie.
                        </p>
                    </div>
                </div>
                <div class="newsClose" data-id="444" onclick="closeNewsRead(this)">
                    <i class="bi bi-x-lg"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container newsletter">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-10 second">
                <h3 class="sbns">Want updates straight to your inbox?</h3>
                <p class="fs-5 mb-5">
                    We know you barely have time for all the hustle and bustle of everyday life, but you still want to stay on top of your health trends, 
                    news and the buzz of healthcare. Our GeneSys Health Tech Insider newsletter is loaded with the best of content across the intersection 
                    of health and tech. 
                    We urge you to kick back, chill and relax, while you read.
                </p>
                <form id="newsletter-form" method="POST" action="https://a9675586.sibforms.com/serve/MUIFAK_CIkmdbFlB-_4gAkMva-WfvKHAwlqRP8hiVNFLZ4NjR2mZfK39SEuWt-lC5W6iRP6f1YHG0_u1LcD_BefHOidkojpdWCAPYMdDKe9nqAcPXUgW0cfJM0dYHiMSgg9iTTrJuZw7In5DN1H6s552N4EQPmXJmkC6sdd944Pw7Ag_Q3TvuCVbgJ5iNscnToId6sY9Pl2Sy-vY" data-type="subscription" class="mt-5 validate w-100" target="display-frame">
                    <div class="row gap-2 form-group">
                        <div class="col-7 p-0 form-group">
                            <input type="email" id="EMAIL" name="EMAIL" class="form-control rounded-start py-4 fw-bold fs-5 ps-3" placeholder="Enter your e-mail address" required/>
                        </div>
                        <div class="col-4 d-grid p-0 form-group">
                            <button type="submit" name="subscribe" class="fw-bold fs-5" style="border-radius:0 5px 5px 0; background: #005AC0; border:1px solid transparent; color:white;">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-8 nl-img">
                <img src="~/assets/images/ffv 1.png" width="420px" alt="" />
            </div>
        </div>
        <div class="newsletter-modal rounded shadow" id="successModal">
            <div class="newsletter-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="mod-body p-0">
                        <div class="crop"> <img src="https://static.thenounproject.com/png/3383823-200.png" width="100%"> </div>
                    </div>
                </div>
                <div class="mod-footer">
                    <h2>Success</h2>
                    <p class="text-center"><small class="text-muted">Thank you for your subscription. You'll be sent the next issue of our newspaper shortly. </small></p>
                </div>
            </div>
        </div>
    </div>
    <iframe name="display-frame" style="display:none;"></iframe>
</div>

 @await Html.PartialAsync("~/Views/Partials/_footer.cshtml")