<?xml version="1.0" encoding="utf-8"?>
<DataType Key="238eb9de-5db7-4b86-84a0-22de18695b99" Alias="[Dropdown] Job Type" Level="1">
  <Info>
    <Name>[Dropdown] Job Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Full Time"
    },
    {
      "id": 2,
      "value": "Part Time"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>