<?xml version="1.0" encoding="utf-8"?>
<DataType Key="630ab7df-7592-4168-8ce7-3ebf5d0fecb9" Alias="[Dropdown] Features" Level="1">
  <Info>
    <Name>[Dropdown] Features</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Patient Management"
    },
    {
      "id": 2,
      "value": "Nurse Workbench"
    },
    {
      "id": 3,
      "value": "Inpatient Suite"
    },
    {
      "id": 4,
      "value": "Doctor Workbench"
    },
    {
      "id": 5,
      "value": "Billing/Finance"
    },
    {
      "id": 6,
      "value": "Pharmacy"
    },
    {
      "id": 7,
      "value": "Laboratory"
    },
    {
      "id": 8,
      "value": "Radiology"
    },
    {
      "id": 9,
      "value": "Inventory/Store"
    },
    {
      "id": 10,
      "value": "Manager Dashboard"
    },
    {
      "id": 11,
      "value": "Queue Management"
    },
    {
      "id": 12,
      "value": "Others"
    },
    {
      "id": 13,
      "value": "Services"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>