<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fb5c52c-6962-4f4a-b98f-0f55b99baf58" Alias="[Dropdown] NewsCategory" Level="1">
  <Info>
    <Name>[Dropdown] NewsCategory</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Newsletters"
    },
    {
      "id": 2,
      "value": "Product Updates"
    },
    {
      "id": 3,
      "value": "Case Studies"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>