<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61281561-e611-4d25-b471-33d381d5e575" Alias="List of Strings" Level="1">
  <Info>
    <Name>List of Strings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 1
}]]></Config>
</DataType>