<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70852829-7801-4a1b-a4a0-7ef06c99c3ad" Alias="[MultiURLPicker] Single URL Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>