<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4100c899-43f3-44c0-a5c7-87a65431fae6" Alias="[Nested] Package Item List (copy)" Level="1">
  <Info>
    <Name>[Nested] Package Item List (copy)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Package",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 4,
    "min": 1
  }
}]]></Config>
</DataType>