@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.aboutUs {
    background-color: #FFF;
    height : fit-content;
}

.aboutHead {
    border-bottom: 2px dashed black;
}

.aboutUsCont {
    height: 600px;
}

.aboutText {
    text-align: center;
}

.aboutText h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #000;
    margin-top: 6rem;
}

.aboutImgMainCont {
    display: flex;
    height: 40rem;
    width: 100%;
    margin: 4rem 0;
}

.aboutImgMainCont .one {
 width: 60%;
}

.aboutImgMainCont .two {
    width: 40%;
}

.aboutImgCont {
    margin: 0 2rem;
}

.aboutImgCont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3rem;
}

.whoWeAre {
    margin: 6rem 2rem;
}

.whoWeAre h3{
    font-size: 3.5rem;
    font-weight: 700;
}

.whoWeAre p{
    font-size: 1.8rem;
}

.aboutUsCont .left {
    width : 70%;
    height : 100%;
    display: flex;
    flex-direction : column;
    justify-content : center;
    position : relative;
}

.aboutUsCont .right {
    width : 30%;
    height : 100%;
    display: flex;
    justify-content : center;
    align-items : center;
}

.imgBorder {
    width: 70%;
    height: 120%;
    border: 2px solid;
    top: 30%;
    left: 15%;
    border-image: linear-gradient(to bottom, blue, lightblue) 1;
    z-index: 2;
}

.aboutUs2 {
    background-color: #F2F5FF;
    height: 600px;
}

.imgBorderII {
    width: 64%;
    height: 350px;
    top: -20%;
    left: 18%;
    z-index: 3;
}

.imgBorderII > img {
    object-fit:contain;
    border-radius: 20px;
}

.mss {
    width: 70%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border: 2px solid;
    border-image: linear-gradient(to bottom, blue, lightblue) 1;
}

.flexpp {
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.Frame {
    width: 35rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.Frame:hover {
    transform : scale(1.05)
}

.photoFrame {
    width: 98%;
    max-height: 250px;
    margin-bottom: 20px;
}

.photoFrame > img {
    width : 100%;
    height : 100%;
    object-fit:contain;
}

.join {
    width: 100%;
    height: 400px;
    color: #fff;
    background-color: #5236FF;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.joinText {
    width: 40%;
    text-align: center;
}

.joinText h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
 }

 .joinText h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 5rem;
 }

 .joinText a {
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    color: black;
    background: white;
    font-size: 1.2rem;
    font-weight: 500;
 }

 .joinText span {
    color: #72FFBB;
 }

 .joinText p {
    font-size: 1.4rem;
    margin-bottom: 4rem;
 }

.gallery {
    width: 100%;
    background-color: #FFF;
    padding  : 1rem 0;
    border-bottom: 2px dashed black;
}

.milestone {
    margin: 4rem 0;
    border-bottom: 2px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.milestone h3{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.milestone .board {
    width: 60%;
    margin: 10rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.itemRow {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.itemRow .first {
    justify-content: flex-end;
}

.itemRow .first .date {
    order: 2;
}

.milestone .board .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0ABFF8;
    margin: 0 2rem;
}

.milestone .board .itemRow .row {
    flex-direction: row;
}

.milestone .board .row .date p {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.milestone .board .text{
    height: 30px;
    border: 1px solid transparent;
    box-shadow: 0 3px 5px 3px #888888;
}

.challenge {
    margin: 4rem 0;
    border-bottom: 2px dashed black;
    padding: 2rem 5rem;
}

.challenge h3 {
    font-size: 3rem;
    font-weight: 700;
}

.challenge p {
    font-size: 1.6rem;
}

.design {
    height: 500px;
    width: 100%;
    background-color: #FFF;
}

.team {
    height: fit-content;
    width: 100%;
    background-color: #FFF;
}

.values {
    height: fit-content;
    width: 100%;
    background-color: #FFF;
    padding : 80px 40px;
}

.values img {
    width : 50rem;
}

.galCont {
    height: 600px;
    padding: 0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.galCont img{
    height : 100%;
    object-fit: contain;
}

.galCont:hover {
    transform : scale(1.05)
}

.vision {
    width: 100%;
    margin: 0;
    margin-top: 5rem;
    background-color: #F2F4FE;
    padding: 4rem 2rem 6rem 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision .circle {
    position: absolute;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: #F2F4FE;
    z-index: 1;
    opacity: 0.3;
}

.vision .visionText {
    text-align: center;
    width: 40%;
    color: #324054;
    z-index: 2;
}

.vision .visionText h2{
    font-family: 'Commissioner', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    padding-bottom: 4rem;
}

.vision .visionText p{
    font-weight: 700;
    line-height: 3rem;
}

.mission {
    width: 100%;
    margin: 0;
    margin-top: 5rem;
    background-color: #FFF;
    padding: 4rem 2rem 6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px dashed black;
}

.mission .missionText {
    text-align: center;
    width: 40%;
    color: #324054;
    z-index: 2;
}

.mission .missionText h2{
    font-family: 'Commissioner', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    padding-bottom: 4rem;
}

.mission .missionText p{
    font-weight: 700;
    line-height: 3rem;
}

.valueText {
    text-align: center;
    margin: 3rem 0;
}

.valueText h2{
    font-family: 'Commissioner', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.valueText h3{
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.valueText p{
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.valuesCard {
    height: 18rem;
    width: 45rem;
    padding: 2rem;
    background-color: #F9F9F9;
    border-radius: 2rem;
    margin: 1rem;
}

.valuesCard .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
}

.valuesCard .img{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.valuesCard .img img{
    width: 8rem;
}

.valuesCard h3{
    font-weight: 600;
    font-size: 2.5rem;
}

.valuesCard p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
}

.leftVecCon, .rightVecCon {
    position: absolute;
}

.leftVecCon {
    left: 0;
}

.rightVecCon {
    right: 0;
}

.leftVecCon img, .rightVecCon img{
    width: 40rem;
}

.career {
    padding: 5rem 3rem;
}

.career .careerText{
    padding: 10rem 6rem;
}

.career .careerText h3{
    font-size: 4rem;
    font-weight: 600;
}

.career .careerText span{
    color: blue;
}

.career h1{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.career .careerCard {
    width: 90%;
    border: .5px solid gray;
    border-radius: 2rem;
    padding: 4rem 3rem;
    height: fit-content;
    margin: 2rem 0;
}

.career .careerCard h2{
    font-size: 3rem;
    line-height: 3rem;
    padding: 0;
    margin-bottom: 1rem;
}

.career .careerCard p{
    font-size: 1.6rem;
    padding: 0;
    margin-bottom: 3rem;
}

.career .careerCard a{
    text-decoration: none;
    padding: 2rem 3rem;
    color: #000;
    font-size: 1.2rem;
    border-radius: 3rem;
    border: .5px solid rgb(196, 194, 194);
}

.career .careerCard a:hover{
    color: #fff;
    background-color: #242331;
}

.career .careerCard span{
    color: blue;
}

@media (max-width: 991px) {
    .hide {
        display : none;
    }
    .aboutUsCont {
        height: fit-content;
        align-items: center;
        justify-content: center;
    }

    .aboutUsCont .left {
        width : 90%;
        padding : 30px 10px;
        text-align : center;
        order : 1;
        margin-top: 1rem;
    }

    .aboutUsCont .left h1 {
        font-size : 4rem;
        line-height : 4.2rem;
    }

    .aboutUsCont .right {
        width : 70%;
        height : 25rem;
        padding : 5rem 1rem;
    }

    .mss {
        width: 100%;
        height: fit-content;
    }

    .mss h1 {
        font-size : 3rem;
        line-height : 3.4rem;
    }

    .mss p {
        font-size : 1.6rem;
        line-height : 2rem;
    }

    .team h3 {
        text-align : center;
    }

    .join {
        height: fit-content;
        text-align: center;
    }

    .join h3 {
        font-size:2rem;
        font-weight:700;
    }

    .join p {
        font-size:1.6rem;
    }

    .design {
        height : fit-content;
        padding : 4rem 2rem;
    }

    .values {
        text-align : center;
    }

    .values h2 {
        font-size : 4rem;
        line-height : 4.2rem;
    }

    .values img {
        width: 38rem;
    }

    .vision .visionText {
        width: 90%;
    }

    .mission .missionText {
        width: 90%;
    }

    .leftVecCon, .rightVecCon {
        top : 7rem;
    }

    .leftVecCon img, .rightVecCon img{
        width: 15rem;
    }

    .milestone .board {
        width: 100%;
        padding: 2rem 4rem;
        margin: 5rem 0;
    }

    .joinText {
        width: 90%;
    }

    .aboutImgMainCont .one {
        width: 90%;
    }
    
    .aboutImgMainCont .two {
        display: none;
    }

    .career .careerText, h1{
        text-align: center;
    }

    .career .careerCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .career .joinText a {
        font-size: 1rem;
     }

     .career {
        padding: 0 3rem;
    }
}