.demo {
    background-color: #FFF;
    top: 70px;
    height: calc(100vh - 70px);
    padding: 0;
}

.demo img {
    width : 100%;
    height : 100%;
    object-fit : cover;
}

.demoText {
    margin-left:55px;
    font-size:30px;
}

.demo .sign {
    position: absolute;
    height: 250px;
    width: 300px;
    background: linear-gradient(135.01deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 63, 224, 0.0525) 92.63%);
    backdrop-filter: blur(75px);
    left : -80%;
    top: 30%;
    border-radius: 3rem;
}

.demo .sign ul{
    list-style : none;
}

.demo .sign ul .spd{
    width : 1rem;
    height : 5px;
    border : 1px solid transparent;
    background-color : blue;
    margin-right: 1rem;
}

.demo .sign ul li{
    cursor: pointer;
}

.demoform {
    width: 70%;
    height: fit-content;
    border: 2px solid;
    margin-left : 50px;
    padding: 50px 150px 50px 50px;
    border-image: linear-gradient(to bottom, blue, lightblue) 1;
}

.demoform form {
    font-size : 14px;
    color : #000;
}

.demoform form input, select, option {
    height: 40px;
    font-size: 14px;
}

@media (max-width: 991px) {
    .demo {
        height: fit-content;
    }

    .demoform {
        width: 94%;
        max-width: 50rem;
        padding: 50px;
        margin: auto;
    }

    .demoText {
        margin: 0;
    }
}