.howhead {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.howhead .headText {
    text-align: center;
    width: 60%;
}

.howhead .headText h1{
    font-size: 3rem;
    line-height: 120%;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.howhead .headText p{
    font-size: 1.6rem;
    line-height: 120%;
}

.headVideo {
    width: 80%;
    cursor: pointer;
}

.how .howImgBox{
    width: 90%;
    height: 90%;
    position: relative;
}

.how .howImgBox > div{
    width: 100%;
    height: 100%;
}

.how .howImgBox > div img{
    width: 100%;
    height: 100%;
}

.statement {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    background-color: #F2F5FF;
}

.statcontainer {
    width: 50%;
}

.testimonial {
    width: 60%;
    margin: auto;
    height: fit-content;
    background-color: #fff;
}

@media (max-width: 767px) {
    .headVideo {
        width: 90%;
    }

    .howhead h2{
        font-size: 3rem;
        line-height: 3.8rem;
    }

    .howhead p{
        font-size: 1.6rem;
    }

    .how .howImgBox{
        width: 80%;
        height: 30rem;
    }

    .statcontainer {
        width: 80%;
    }

    .statcontainer h2 {
        font-size: 3rem;
        line-height: 3.2rem;
    }

    .testimonial {
        width: 80%;
    }
    .howhead .headText {
        width: 100%;
        padding: 0 2rem;
    }

    .digital {
        width: 120% !important;
    }

    .digital img{
        width: 100%;
        height: 100%;
    }
}
