.topHead {
    display: flex;
    width: 100%;
    height: 48rem;
    background: rgb(10,121,248);
    background: linear-gradient(245deg, rgba(10,121,248,1) 0%, rgba(125,125,168,1) 26%, rgba(10,121,248,1) 52%, rgba(125,125,168,1) 75%, rgba(10,121,248,1) 100%);
    position: relative;
    padding: 3.12rem;
}

.topHead .topHeadImg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.topHead .topHeadImg img {
    width: 100%;
    object-fit: fill;
}

.topHead .topHeadImg h3 {
    font-size: 3rem;
    font-weight: 700;
}

.topHead .topHeadImg p {
    font-size: 1rem;
    line-height: 100%;
    font-weight: 600;
}

.topHead .topHeadImg span {
    color: #0A79F8;
}

.topHead .topHeadText {
    text-align: center;
    color: #fff;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
}

.topHead .topHeadText h2 {
    font-size: 3.2rem;
    line-height: 3.4rem;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.topHead .topHeadText p {
    font-size: 1.4rem;
}

.topHead .topHeadText a {
    font-size: 1.8rem;
}

.module {
    margin-top: 20rem;
    padding: 1rem 3rem;
}

.brief-intro {
    margin-top: 20rem;
    padding: 1rem 3rem;
    line-height: 140%;
    text-align: justify;
}

.brief-intro h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.brief-intro p {
    font-size: 1.6rem;
}

.module h3 {
    font-size: 3rem;
    line-height: 3.4rem;
    font-weight: 700;
    margin: 3rem 0;
}

.module .moduleItem {
    padding: 0 3rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.module .active {
    background-color: #0A79F8;
    border-radius: 2rem;
    color: white;
}

.module .mBtn {
    text-decoration: none;
    color: white;
    padding: 1.2rem 3rem;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: black;
}

.productSec {
    padding:  3rem 1.87rem;
    background-color:  #F2F5FF;
    margin: 3rem 0;
}

.home {
    padding:  3rem 1.87rem;
    background-color:  #FFF;
    margin: 7rem 0;
}

.productSecText {
    text-align: center;
}

.productSecText h3 {
    font-size: 3rem;
    line-height: 3.4rem;
    font-weight: 700;
}

.productSecText p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.productSec .productDisplay{
    margin: 1.9rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productSec .productDisplay .productItem {
    padding: .8rem 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productSec .productDisplay .productCard {
    padding: .2rem 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    max-width: 30rem;
    min-width: 30rem;
    padding: 2rem;
    margin: 1.4rem 0;
    height: 35rem;
    position: relative;
}

.productCard .rdm{
    position: absolute;
    bottom: 2rem;
}

.productSec .productDisplay .productCard img {
    width: 80px;
}

.productSec .productDisplay .productCard h3 {
    font-size: 2.6rem;
    font-weight: 700;
    margin: 1.6rem 0;
    text-align: center;
}

.productSec .productDisplay .productCard p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
}

.productSec .productDisplay .productItem img {
    width: 60%;
}

.productSec .productDisplay .productItem .itemText h3 {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 600;
}

.productSec .productDisplay .productItem .itemText p {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.productSec .productDisplay .productItem .itemText a {
    font-size: 1.4rem;
    border-radius: 2rem;
}

.features {
    padding: 3rem;
}

.features h3 {
    font-size: 3rem;
    font-weight: 600;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features .featureItem {
    margin: 2rem 0;
    cursor: pointer;
}

.features .featureItemDetails{
    margin: 3rem 0;
    padding: 2rem 0;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
}

.features .featureItemDetails img{
    width: 70px;
    margin-right: 2.5rem;
}

.features .featureItemDetails h4{
    font-size: 2rem;
    font-weight: 600;
}

.features .featureItemDetails p{
    font-size: 1.6rem;
    line-height: 1.7rem;
}

.features .active {
    background-color: #0A79F8;
    color: #fff;
    width: fit-content;
    border-radius: .4rem;
}

.productVideo {
    padding: 5rem 3.2rem;
    background-color: #F2F5FF;
}

.productVideo .videoText{
    text-align: center;
    margin: 2rem 4rem;
}

.productVideo .videoText h3{
    font-size: 2rem;
    font-weight: 700;
}

.productVideo .videoText p{
    font-size: 1.4rem;
    font-weight: 300;
}

.productVideo .videoCont{
    margin-top: 3rem;
    width: 100%;
    height: 29rem;
    border-radius: 1.4rem;
}

.productVideo .videoCont img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productPlans {
    margin: 5rem 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F5FF;
}

.productPlans .planText {
    margin-top: 2rem;
    width: 90%;
    text-align: center;
}

.productPlans .planText div {
    width: 90%;
}

.productPlans .planText h3{
    font-size: 3rem;
    line-height: 120%;
    font-weight: 700;
}

.productPlans .planText p{
    font-size: 1.4rem;
    font-weight: 300;
}

.productPlans .planCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.productPlans .planCont .planCard {
    width: 80%;
    padding: 3rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.productJoin {
    display: flex;
    justify-content: center;
    color: #324054;
    margin-bottom: 3rem;
}

.productJoin .joinCont {
    width: 100%;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.productJoin .joinCont .joinImgCont {
    width: 90%;
    display: flex;
    justify-content: center;
}

.productJoin .joinCont .joinImgCont img {
    width: 40%;
}

.productJoin .joinCont .joinText{
    margin-top: 2.8rem;
    text-align: center;
}

.productJoin .joinCont .joinText h3{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.productJoin .joinCont .joinText p{
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 300;
}

.productJoin .joinCont .joinText a{
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 300;
}

.support {
    margin: 0;
}

.support .container-fluid {
    background-color: #2460FB;
    padding: 6rem 2rem;
    color: #fff;
}

.support .container-fluid .tag{
    background-color: #F59E0B;
    border-radius: 3rem;
    width: fit-content;
    padding: 1px 8px;
    margin-bottom: 2rem;
}

.support .container-fluid .tag p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.support .container-fluid p{
    line-height: 1.4rem;
}

.testimony-pd {
    background-color: #fff;
}

.testimony-pd h1{
    font-size: 3rem;
    line-height: 4rem;
    text-align: left;
}

.featureItemDetailsCnt{
    margin: 3rem 0;
}

.module-feature {
    justify-content: flex-start;
    margin: 4rem 2rem;
}

.modules-row {
    width: 40%;
}

.features-row {
    width: 60%;
}

.modules-row, .features-row {
    padding: 3rem 1rem;
}

.modules-row, .features-row {
    padding: 3rem 0;
}


.module-feature h3 {
    padding:  0 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.features-row h3 {
    padding:  0 2rem;
}

.module-list, .feature-list {
    margin: 3rem 0;
}

.feature-list {
    margin: 3rem 1.5rem;
}

.module-item {
    cursor: pointer;
    padding: .5rem 1.5rem;
}

.feature-item {
    padding: .5rem;
    border-bottom: 1px solid #E0DEDE;
    display: none;
}

.feature-item p{
    padding: .5rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.module-item:hover {
    background-color: #0A79F8;
    color: #FFF;
}

.module-list .active {
    background-color: #0A79F8;
    color: #FFF;
}

.module-item p {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.features-row {
    background-color: #F2F5FF;
}

.online {
    display: block;
}

.related-products {
    width: 100%;
    background-color: #F2F5FF;
    padding: 3rem;
}

.all-products {
    width: 100%;
    height: fit-content;
    background-color: #F2F5FF;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.rp-text {
    width: 90%;
    margin: auto;
    text-align: center;
}

.rp-text h2{
    font-size: 3rem;
    font-weight: 600;
}

.rp-text p{
    font-size: 1.4rem;
    line-height: 110%;
}

.rp-products {
    margin: 0;
}

.rp-products .productDisplay{
    margin: 0;
}

.rp-products .productDisplay .productCard{
    border-radius: 1.3rem;
    width: 70%;
    height: 32rem;
}

.comparisonPage {
    background-color: #F2F5FF;
    padding: 4rem 2rem;
}

.comparisonPage .text h3 {
    font-size: 3rem;
    font-weight: 700;
}

.comparisonPage .text p {
    font-size: 1.3rem;
}

.comparisonPage .button .btn {
    padding: 1rem 3rem;
    border: 1px solid #0A79F8;
    border-radius: 3rem;
    background-color: #FFF;
    color: #000;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.comparisonPage .button .mon {
    margin-right: -1.7rem;
    padding-right: 4rem;
}

.comparisonPage .button .yer {
    margin-left: -1.7rem;
    padding-left: 4rem;
}

.comparisonPage .button .act {
    background-color: #0A79F8;
    padding: 1rem 3rem;
    color: #FFF;
    z-index: 2;
}

.comparisonTable {
    margin: 3rem .5rem;
}

.comparisonPage .Colhead {
    height: 8rem;
    overflow: hidden;
}

.comparisonPage .Colhead *{
    transform: scale(0.7);
}

.comparisonPage .Colhead .cost{
    font-size: 2.3rem;
    padding: 0;
    margin: 0;
}

.comparisonCol {
    padding: .5rem;
    width: 30%;
}

.mainCol {
    width: 20rem;
}

.bgBlue {
    background-color: #0A79F8;
    color: #FFF;
}

.bgBlue .title, .bgBlue .cost, .bgBlue .month{
    color: #FFF;
}

.colBody {
    margin: 2rem 0;
}

.colItem, .colDesc {
    font-size: 1.3rem;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.colDesc {
    margin-top: 2rem;
}

.statusCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2.4rem;
}

.statusCol li {
    list-style: none;
}

.statusCol i {
    font-size: 1.94rem;
    padding: .3rem 0;
    color: #2460FB;
}

.bgBlue i {
    color: #FFF;
}

.statusCol .bi-x-lg {
    color: red;
}

.hideCost {
    display: none;
}

.showCost {
    display: inline;
}

.gp-img {
    width: 100%;
    height: 100%;
}

.gp-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.all-product-demo {
    margin: 3rem 0;
}

.all-products .rp-products .all-products-arrow {
    display: none;
}

@media screen and (min-width: 800px) {
    .topHead {
        height: 76vh;
        padding: 8rem 8rem;
        display: flex;
        justify-content: center;
    }

    .topHead .topHeadImg {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .topHead .topHeadImg h3 {
        font-size: 4rem;
        font-weight: 700;
    }
    
    .topHead .topHeadImg p {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .topHead .topHeadText h2 {
        font-size: 4.4rem;
        line-height: 100%;
        padding: 0;
    }

    .topHead .topHeadImg img {
        width: 90%;
    }

    .topHead .topHeadText {
        margin-top: 0;
        width: 50%;
        text-align: center;
    }

    .module {
        margin-top: 42vh;
        padding: 1rem 6rem;
    }

    .brief-intro {
        margin-top: 42vh;
        padding: 1rem 10rem;
    }

    .features {
        padding: 1rem 6rem;
    }

    .module a{
        font-size: 1.6rem;
    }

    .productSec .productDisplay{
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        flex-direction: row;
    }

/*     .productSec .productDisplay .active {
        transform: scale(1.06);
    } */

    .productSecText {
        width: 60%;
        margin: auto;
    }

    .productSec .productDisplay .productItem {
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }

    .productSec .productDisplay .productCard {
        margin: 1rem 3rem;
        width: 30rem;
    }

    .productSec .productDisplay .productItem .right {
        order: 2;
    }

    .productSec .productDisplay .productItem img {
        width: 40%;
    }

    .productSec .productDisplay .productItem .itemText h3 {
        text-align: left;
    }

    .productPlans .planCont {
        flex-direction: row;
        align-items: center;
        margin: 5rem 4rem;
        gap: 5rem;
    }

    .productPlans .planCont .planCard {
        
        padding: 3rem;
        margin-bottom: 3rem;
        border-radius: 1rem;
    }

    .productJoin .joinCont {
        flex-direction: row;
        padding: 0 2.5rem;
    }

    .productJoin .joinCont .joinImgCont {
        width: 50%;
        order: 2;
    }

    .productJoin .joinCont .joinText{
        text-align: left;
    }

    .productPlans .planText h3{
        font-size: 4rem;
    }

    .productPlans .planText p{
        font-size: 2rem;
    }

    .productVideo .videoText h3{
        font-size: 4rem;
    }

    .productVideo .videoText p{
        font-size: 2rem;
    }

    .productSecText h3 {
        font-size: 4rem;
        padding-bottom: 3rem;
    }

    .productSecText p {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .features .featureItemDetails{
        width: 80%;
    }

    .featureItemDetailsCnt{
        margin: 1rem 0;
    }

    .productPlans .planText {
        width: 70%;
    }

    .module-feature {
        margin: 3rem 9rem;
    }

    .modules-row {
        width: 20%;
    }

    .features-row {
        width: 80%;
    }

    .modules-row, .features-row {
        padding: 3rem 0;
    }

    .module-feature h3 {
        padding:  1rem 2rem;
    }

    .features-row h3{
        padding: 1rem 3.5rem;
    }
    
    .module-list, .feature-list {
        margin: 3rem 0;
    }
    
    .module-item {
        padding: 1rem 2rem;
    }

    .feature-list {
        margin: 3rem 1.5rem;
    }

    .feature-item {
        padding: 1rem 2rem;
    }
    
    .module-item p {
        font-size: 1.6rem;
    }

    .rp-text {
        width: 80%;
        margin: auto;
    }

    .rp-products {
        margin: 0;
    }
    
    .rp-products .productDisplay{
        margin: 0;
    }

    .all-products {
        height: 90vh;
        padding: 3rem;
        flex-direction: row;
    }

    .all-product-demo {
        background-color: #F2F5FF;
        width: 100%;
        height: 95vh;
        margin: 0;
    }

    .all-product-demo .demo-img {
        width: 60%;
        height: 90%;
        position: relative;
    }

    .all-product-demo .demo-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .all-product-demo .demo-img .demo-outer {
        position: absolute;
        background: #FFF;
        padding: 3rem;
        top: 4rem;
        right: -30rem;
        width: 60%;
        height: 90%;
    }

    .all-product-demo .demo-img .demo-outer .demoText{
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
        line-height: 120%;
        margin-bottom: 3rem;
    }

    .all-product-demo .demo-img .demo-outer .demoform{
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .all-product-demo .demo-img .demo-outer .demoform .form-label{
        font-weight: 600;
    }

    .all-product-demo .demo-img .demo-outer .demoform .form-control:active{
        outline: none;
    }

    .all-product-demo .demo-img .demo-outer .demoform input{
        font-size: 1.3rem;
        height: 3.5rem;
    }
    
    .all-products .rp-text {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .all-products .rp-products {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .all-products .rp-products .all-products-arrow {
        position: absolute;
        display: block;
        right: 10rem;
        font-size: 3rem;
        color: #0A79F8;
        cursor: pointer;
        opacity: 0.2;
    }

    .all-products .rp-products .all-products-arrow .bi:hover {
        color: #324054;
    }

    .all-products .rp-products .productDisplay {
        margin: 0 4rem;
        height: 70%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow-y: auto;
    }

    .all-products .rp-products .productDisplay::-webkit-scrollbar {
        width: 0;
    }

    .all-products .rp-products .productDisplay .productCard {
        min-width: 30rem;
    }

    .productPlans .planText div {
        width: 70%;
    }

    .comparisonPage {
        padding: 4rem 5rem;
    }

    .comparisonTable {
        margin: 6rem 2rem;
    }

    .comparisonCol {
        padding: 3rem;
        width: 22rem;
    }

    .mainCol {
        width: 40rem;
    }

    .comparisonPage .Colhead *{
        transform: scale(1);
    }
}