@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
    height: fit-content;
    position:relative;
    overflow-x: hidden;
}


.btn-primary {
    color: #fff;
    padding: 10px 20px;
}

.navbar {
    height: 70px;
    background-color: #FFF;
    width: 100%;
    position: fixed;
    box-shadow: 5px 10px 8px 3px rgba(48, 47, 47, 0.12);
    top: 0;
    z-index: 9;
}

.started, .more, .navb {
    padding: 8px 10px;
    width: fit-content;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.9rem;
    color: #fff;
}

.more {
    border: 1px solid #0b5ed7;
    background-color: transparent;
    color: #0b5ed7;
}

.more:hover {
    background-color: #0b5ed7;
    color: #FFF;
}

.navb {
    font-size: 1.4rem;
    line-height: 1.5rem;
}

ul > li {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.9rem;
    color: #000;
    padding: 0 10px;
}

.activeLink {
    color: #2460FB;
}

.section {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 70px;
    padding:0;
    scroll-snap-type: y mandatory;
}


.intro {
    background-color: #F2F5FF;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}

.mainImage {
    transform: translate(50rem, 0);
    position: absolute;
    opacity: 0;
    -webkit-transition: .8s ease-in;
    -moz-transition: .8s ease-in;
    -o-transition: .8s ease-in;
    transition: .8s ease-in;
}

.activeMainImage {
    transform: translate(0, 0);
    opacity: 1;
}

.IntroRow {
    display: flex;
    margin: 2rem 5rem 0 5rem;
}

.info {
    background-color: #FFF;
    height: 120vh;
    scroll-snap-align: start;
}

.packages {
    background-color: #FFF;
    height: fit-content;
    padding: 4rem 0;
    scroll-snap-align: start;
}

.sell-all {
    color: #000;
    font-size: 1.4rem;
}

.compare {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.5rem 3rem;
    width: fit-content;
}

.trophy, .testimony {
    background-color: #F2F5FF;
    height: fit-content;
    scroll-snap-align: start;
    padding: 4rem 0;
}

.testimony {
    width: 100%;
}

.join_home {
    width: 100%;
    height: 400px;
    background-color: #FFF;
}

.newsletter-home {
    background-color: #FFF;
    height: 80vh;
    scroll-snap-align: start;
    padding: 80px;
    color: #FFF;
}

.newsletter-home .container {
    background-color: #2460FB;
    padding: 4rem 2rem;
    border-radius: 1.4rem;
}

.newsletter-home .container .tag{
    background-color: #F59E0B;
    border-radius: 3rem;
    width: fit-content;
    padding: 1px 8px;
    margin-bottom: 2rem;
}

.newsletter-home .container .tag p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.newsletter-home .container p{
    line-height: 1.4rem;
}

.contact {
    height: fit-content;
    background-color: #F2F5FF;
    scroll-snap-align: start;
}

.footer {
    background-color: #FCFCFC;
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 100%;
    padding: 30px 0;
}
.footer p {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer .border-top p {
    font-size: 12px;
    padding: 0 20px;
}

.footer .box {
    margin-right: 10px;
}

.footer .row {
    display: flex;
    gap: 6%;
}

.footer h3 {
    font-weight: 600;
    font-size: 28px;
}

h1 {
    font-weight: 600;
    font-size: 5.4rem;
    line-height: 6.5rem;
    padding-bottom: 10px;
}

p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    padding-bottom: 10px;
}

.img-container {
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
}

.img-container > .inner-img-container {
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
}

.inner-img-container > img{
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
}

.one {
    top: 0;
    z-index: 3;
}

.one > img {
    width: 15rem;
}

.two {
    bottom: 100px;
    left: -100px;
    z-index: 3;
}

.two > img {
    width: 20rem;
}

.three {
    bottom: 80px;
    right: -70px;
    z-index: 3;
}

.three > img {
    width: 15rem;
}

.xframe {
    gap : 5%;
}

.bframe {
    width: 100px;
    height: 60px;
    border: 1px solid #2460FB;
    border-radius: 5px;
    background-color: #FFF;
    margin-top: -.5rem;
}
l 
.bframe small{
    line-height: 100%;
}

.f-frame {
    gap: 3%;
}

.frame {
    width: 150px;
    height: 65px;
    border: 0 solid;
    border-radius: 10em;
}

.frame > img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-weight: 600;
    font-size: 5.4rem;
    line-height: 6.5rem;
    padding-bottom: 11px;
}

.fcarde {
    gap: 8%
}

.carde {
    height: 300px;
    border: 2px solid;
    border-image: linear-gradient(blue, lightblue) 1;
    background-color: white;
    padding: 15px;
    transition: background-color 0.5s;
}

.carde .fa {
    color: blue;
    font-weight: 600;
    font-size: 50px;
    margin: 10px 0;
}

.carde > div > h3 {
    font-weight: 600;
    font-size: 25px;
}

.carde > div > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.carde > div > a {
    font-weight: 600;
    font-size: 13px;
}

.carde:hover {
    background-color: blue;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 33px 2px rgba(57,69,189,0.75);
    -webkit-box-shadow: 0px 0px 33px 2px rgba(57,69,189,0.75);
    -moz-box-shadow: 0px 0px 33px 2px rgba(57,69,189,0.75);
}

.carde:hover > div {
    color : #fff;
}

.carde:hover  .fa {
    color:white;

}

.carde:hover > div > a {
    background-color : green;
    border: 0px solid;
}

.carde:hover > div > a:hover {
    background-color : green;
    border: 0px solid;
}

.trophy > div > div > h1 {
    font-weight: 500;
    line-height: 56px;
    font-size: 4rem;
}

.trophy > div > div > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}

.testimony > div > div > h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
}

.testimony > div > div > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}

.bi-1-square-fill,
.bi-2-circle-fill,
.bi-3-circle-fill {
    font-weight: 500;
    font-size: 30px;
    color: #EBA900;
}

.line {
    width: 3px;
    border: 1px solid #EBA900;
    height: 10px;
    background-color: #EBA900;
    margin-bottom : 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin-bottom: 10rem;
}

.packages > div > div > h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
}

.packages > div > div > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}

.planText {
    margin: 4rem 0 10rem 0;
}

.planText h1{
    font-size: 4rem;
    line-height: 4.8rem;
}

.card {
    border: 1px solid transparent;
    border-radius: 1.5rem;
    height: 43rem;
    cursor: pointer;
    transition: background-color transform 0.5s;
}

.card > div > h3 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #000000;
}

.sm {
    width: 4rem;
}

.card > div > p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #595959;
}

.card:hover {
    transform: scale(1.08);
    background-color: #0b5ed7;
}

.card:hover * {
    color: #FFF;
}

.details {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #000000;
}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #595959;
}

.getst {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 10px;
}

.card:hover .getst{
    background-color: #FFF;
    color: #0b5ed7;
}

.cost {
    font-weight: 500;
    font-size: 2.4rem;
    font-style: normal;
    line-height: 3.2rem;
    color: #000000;
}

.month {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #595959;
}

.bi-check {
    font-size: 2.5rem;
    font-weight: 400;
    color: greenyellow;
    height: 34px;
}

.hsss {
    font-weight: 700;
    font-size: 4rem;
    line-height: 100%;
}

.testi-cap-cont {
    width: 100%;
    padding: 0 5rem;
}

.testi-cap {
    width: 100%;
    height : 420px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
}

.testi-cap::-webkit-scrollbar {
    width: 0;
}

.testi {
    height : 320px;
    background-color : #0b5ed7;
    border : 1px solid transparent;
    border-radius: 5px;
    margin: 2rem 3rem;
    min-width: 35rem;
    position: relative;
    z-index: 3;
}

.testi::before {
    content: '';
    display: block;
    background: #FFF;
    width: 35.2rem;
    height: 322px;
    position: absolute;
    z-index: -3;
    margin: -1.6rem;
    margin-top: -3.1rem;
}

.testi:nth-child(1){
    margin-left: 0;
}

.testi:nth-child(even)::before{
    border-radius: 150px 5px 150px 5px;
}

.testi:nth-child(odd)::before{
    border-radius: 5px 150px 5px 150px;
}

.testi-img {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
}

.testi-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.sbns {
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
}

.box {
    min-width: 40px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135.01deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 63, 224, 0.0525) 92.63%);
    backdrop-filter: blur(61.9564px);
}

.f-cont {
    width: 100%;
    height: fit-content;
    padding: 60px;
    background: linear-gradient(135.01deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 63, 224, 0.0525) 92.63%);
    backdrop-filter: blur(75px);
}
.questionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionTitle .question-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    color: blue;
    outline: none;
}

.questionText {
    display: none;
}

.showText .questionText {
    display: block;
}

.questionText hr{
    border: 1px dashed blue;
    opacity: 0.2;
}

.questionText p{
    font-size: 1.6rem;
    text-align: justify;
    padding: 0;
    margin: 0;
}

.icon-down {
    display: none;
}

.showText .icon-down {
    display: inline;
}

.showText .icon-right {
    display: none;
}

.field-validation-error {
    color: red;
    font-size: 1.4rem;
}

.contactText {
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 5rem;
}

.contactText h2 {
    font-size: 3rem;
    line-height: 3.2rem;
}

.alpha {
    padding: 1rem 2.5rem;
}

.privacy h1{
    padding: 4rem 0;
    font-size: 6rem;
    font-weight: 900;
}

.privacy h3{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 1rem 0;
}

.privacy h4{
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

.privacy p{
    font-size: 1.7rem;
    text-align: justify;
}

.privacy a{
    font-size: 1.4rem;
    padding: .5rem;
    color: #000;
}

.privacy li {
    font-size: 1.4rem;
    padding-left: 8px;
}

.privacy .bTop{
    bottom: 50px; 
    right: 50px;
    position: fixed;
    display: none;
}

.privacy .show{
    display: block;
}

.copyright {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    height: 40rem;
}

/* .subscribe-success {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background: transparent
}

.modal, .fade{
    background-color: lightgray
}

.modal-content {
    background: transparent;
    border: none;
    padding: 0 19px
}

.modal-header {
    border: none
}

.close {
    position: absolute !important;
    right: 0;
    z-index: 1;
    border: 7px solid lightgray !important;
    width: 5px;
    height: 5px;
    border-radius: 10rem;
    background-color: #ECEFF1 !important;
    opacity: 1;
    top: 35px;
    right: 25px
}

.close > span {
    position: relative;
    bottom: 16px;
    right: 9px;
    font-size: 28px;
    background-color: transparent
}

.modal-body {
    border: none;
    background-color: #ECEFF1;
    border-radius: 8px;
    padding-bottom: 50px
}

.modal-footer {
    border: none;
    flex-direction: column;
    background-color: #ECEFF1;
    margin: 0 19px;position: relative;bottom: 160px
}

.btn.focus, .btn:focus{
    outline: 0;
    box-shadow: none !important
}

.close.focus, .close:focus{
    outline: 0;
    box-shadow: none !important
}

.okay {
    width: 100px;height: 50%;
    background-color: black;
    color: white
}

.setting{
    margin-left: 10px;
    padding-top: 5px
} */


@media (max-width: 1240px) {
    .getst {
        width: 70%;
    }
}

@media screen and (max-width: 992px) {
    body {
        overflow-x: hidden;
        width: 100vw;
    }

    .navbar-nav {
        background-color :#F2F5FF;
        padding: 2rem 1.5rem;
        border-radius: 1rem;
    }

    .navbar-nav .nav-item{
        color: #fff;
    }

    .IntroRow {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2rem 1rem 0 1rem;

    }

    .row {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .alpha {
        order: 1;
        text-align: center;
        font-size: 16px;
        width: 100%;
        padding: 1rem;
    }

    .alpha > h1 {
        font-weight: 600;
        font-size: 3.5rem;
        line-height: 3.5rem;
        padding-bottom: 10px;
    }

    .alpha > p {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding-bottom: 10px;
        text-align: center;
    }

    .info h2 {
        font-size: 3.5rem;
        line-height: 2.6rem;
    }

    .info p {
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    .beta {
        justify-content: center;
        align-items: center;
        height: 35rem;
        width: 100%;
    }

    .img-container {
        width: 50%;
        height: 100%;
    }
    
    .img-container > .inner-img-container {
        width: 100%;
        height: 100%;
    }

    .inner-img-container > img {
        width: 100%;
        height: 100%;
    }

    .one {
        top: 3;
    }
    
    .one > img {
        width: 10rem;
    }
    
    .two {
        bottom: 80px;
        left: -50px;
    }
    
    .two > img {
        width: 15rem;
    }
    
    .three {
        bottom: 80px;
        right: -40px;
    }
    
    .three > img {
        width: 10rem;
    }

    .intro,.trophy,.testimony,.packages {
        height: fit-content;
        position: relative;
    }

    .btn-gg {
        margin-bottom : 50px;
    }

    .customers {
        position: absolute;
        top: 100%;
        width: auto;
    }

    .info {
        margin-top : 50px;
        padding-bottom : 50px;
    }

    .navb {
        width: 100%;
    }

    .info {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        max-width: 36rem;
    }

    .info {
        height: fit-content;
    }

    .info-left {
        text-align: center;
    }

    .info-right {
        order: 1;
    }

    .planText h1{
        font-size: 3rem;
        line-height: 3.4rem;
    }

    .planText p{
        font-size: 1.6rem;
    }

    .carde {
        height : fit-content;
        min-width: 28rem;
    }

    .newsletter, .contact {
        height: fit-content;
    }

    .f-cont {
        padding: 30px;
    }

    .hide {
        display: none;
    }

    .extra {
        display: none;
    }

    .hsss {
        font-size: 3.1rem;
        line-height: 100%;
    }

    .alp {
        order: 1;
    }

    .testi {
        margin-bottom: 5rem;
    }

    .join_home {
        height: fit-content;
        text-align: center;
    }

    .join_home h3 {
        font-size:2rem;
        font-weight:700;
    }

    .join_home p {
        font-size:1.6rem;
    }

    .newsletter-home {
        height: fit-content;
        padding: 40px;
    }

    .privacy .content {
        order: 1;
        padding-top: 4rem;
    }
}


@media screen and (max-width: 576px){
    .img-container {
        width: 80%;
        height: 100%;
    }

    .testi-cap {
        height : 450px;
    }
}

@media screen and (max-width: 400px){
    .img-container {
        width: 100%;
        height: 100%;
    }
}