<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5d46c6e-87a6-4aca-810b-f600c0367ea7" Alias="333" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-03T15:48:42</CreateDate>
    <NodeName Default="333" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nbwnjjng/333.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>