<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5614058-b97d-475d-af03-fed1842c29d4" Alias="Asset 2@3X 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Asset23X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T15:14:35</CreateDate>
    <NodeName Default="Asset 2@3X 1" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lzagdnl3/asset-2-3x-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>