<?xml version="1.0" encoding="utf-8"?>
<Media Key="535b2abf-5540-46af-bf9f-9356d8d6f41c" Alias="Chatgpt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chatgpt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-24T15:18:52</CreateDate>
    <NodeName Default="Chatgpt" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xevfwu0a/chatgpt.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>