<?xml version="1.0" encoding="utf-8"?>
<Media Key="6353bb4f-b24f-4a9c-a3e1-236ad6c7e6dd" Alias="Cross" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cross</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-08T17:02:43</CreateDate>
    <NodeName Default="Cross" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jg3fgy0p/cross.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>