<?xml version="1.0" encoding="utf-8"?>
<Media Key="679193c3-687e-4dd5-abd6-e6bb93fedb1a" Alias="Crown" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Crown</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-08T17:02:46</CreateDate>
    <NodeName Default="Crown" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ywjjcz14/crown.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>