<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c93b819-519e-4af5-8683-a95670e0ece7" Alias="Ellipse 66" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ellipse66</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-18T14:07:50</CreateDate>
    <NodeName Default="Ellipse 66" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d42jgle4/ellipse-66.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>