<?xml version="1.0" encoding="utf-8"?>
<Media Key="08858cef-a33b-423a-a701-6dee7b6419aa" Alias="ERP" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ERP</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-01T14:07:13</CreateDate>
    <NodeName Default="ERP" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3ggikcb1/erp.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>