<?xml version="1.0" encoding="utf-8"?>
<Media Key="80219803-69e4-4806-ab8f-53d10713e442" Alias="Fiyinfoluwa Sanwo 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FiyinfoluwaSanwo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T14:14:05</CreateDate>
    <NodeName Default="Fiyinfoluwa Sanwo 1" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/awmcdahe/fiyinfoluwa-sanwo-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>