<?xml version="1.0" encoding="utf-8"?>
<Media Key="9956e4f9-5f36-4ecb-841d-8b34d8a5f69f" Alias="Flower" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Flower</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-08T17:02:39</CreateDate>
    <NodeName Default="Flower" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/55sfngjw/flower.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>