<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ae538fa-1f6c-43e9-bfa8-bf50b7685094" Alias="Health Tech Newsletter Q316" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HealthTechNewsletterQ316</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T15:14:37</CreateDate>
    <NodeName Default="Health Tech Newsletter Q316" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5q2okctm/health-tech-newsletter-q316.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>