<?xml version="1.0" encoding="utf-8"?>
<Media Key="94611548-cf2d-4edb-a219-14577bb439cb" Alias="Health Tech Newsletter Q32" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HealthTechNewsletterQ32</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T15:14:36</CreateDate>
    <NodeName Default="Health Tech Newsletter Q32" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jykhdfbn/health-tech-newsletter-q32.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>