<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8a0aab0-09e0-404f-9549-01e1ca17199d" Alias="Logo2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T14:14:06</CreateDate>
    <NodeName Default="Logo2" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w0vkbkha/logo2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>