<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9032b98-2ed5-43ff-9899-16b311fa0bf8" Alias="Magazine Cover (3) 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MagazineCover31</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T15:14:38</CreateDate>
    <NodeName Default="Magazine Cover (3) 1" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tyvbh4ov/magazine-cover-3-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>