<?xml version="1.0" encoding="utf-8"?>
<Media Key="92b0bfbf-0de6-440c-95b1-897084a0a71e" Alias="MIDI" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MIDI</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-01T14:07:13</CreateDate>
    <NodeName Default="MIDI" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xg5lbexg/midi.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>