<?xml version="1.0" encoding="utf-8"?>
<Media Key="16c2d6df-7f4e-4d9e-9e85-2275c9d71984" Alias="Munachimso Ayo Olagunju 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MunachimsoAyoOlagunju1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T14:14:05</CreateDate>
    <NodeName Default="Munachimso Ayo Olagunju 1" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1hlmefso/munachimso-ayo-olagunju-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>