<?xml version="1.0" encoding="utf-8"?>
<Media Key="554e4c4e-e387-4fc1-81ed-346442f7dd8c" Alias="Newsletter24" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Newsletter24</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T15:14:37</CreateDate>
    <NodeName Default="Newsletter24" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jbge2vmh/newsletter24.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>