<?xml version="1.0" encoding="utf-8"?>
<Media Key="f89e4f66-84cf-49e6-a005-d8b3a2350673" Alias="Pexels Mikhail Nilov 8872458 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsMikhailNilov88724581</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T14:14:05</CreateDate>
    <NodeName Default="Pexels Mikhail Nilov 8872458 1" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mbhj34gp/pexels-mikhail-nilov-8872458-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>