<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a87ffe5-f8b0-431e-8e8a-6fa87a856892" Alias="Photo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Photo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-03T14:53:44</CreateDate>
    <NodeName Default="Photo" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2p5jpgvq/photo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>