<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0d06909-3567-4b98-a389-16fdc4d9a151" Alias="Portrait" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Portrait</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-07T14:46:32</CreateDate>
    <NodeName Default="Portrait" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b3unbqdh/portrait.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>