<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bd76587-0d67-46c0-822a-97043493e906" Alias="Pose08 Male" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pose08Male</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-30T16:31:33</CreateDate>
    <NodeName Default="Pose08 Male" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qfsnog1h/pose08_male.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>