<?xml version="1.0" encoding="utf-8"?>
<Media Key="60e2ba13-2dae-4e16-ab5d-2cc7ac8afe85" Alias="Profile9" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Profile9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-06T09:27:25</CreateDate>
    <NodeName Default="Profile9" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cw3oeyfo/profile9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>