<?xml version="1.0" encoding="utf-8"?>
<Media Key="fea7e44d-6d72-45ed-a160-75a1ba207b2f" Alias="Profile2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Profile2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-06T09:27:12</CreateDate>
    <NodeName Default="Profile2" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jpskp5ts/profile2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>