<?xml version="1.0" encoding="utf-8"?>
<Media Key="871abd9d-0c4c-4006-8aa7-96552a9b63cf" Alias="Profile1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Profile1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-06T09:27:05</CreateDate>
    <NodeName Default="Profile1" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/to4bvb0m/profile1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>