<?xml version="1.0" encoding="utf-8"?>
<Media Key="78ba858d-a623-4702-9445-65a55eb8bc52" Alias="Profile7" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Profile7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-06T09:27:13</CreateDate>
    <NodeName Default="Profile7" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/roclu4bd/profile7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>