<?xml version="1.0" encoding="utf-8"?>
<Media Key="1310ddfa-e0d5-4925-89c0-b085f7989aee" Alias="Whatsapp Image 2023 01 06 At 11.55 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20230106At11551</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-09T14:14:06</CreateDate>
    <NodeName Default="Whatsapp Image 2023 01 06 At 11.55 1" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5tobae4v/whatsapp-image-2023-01-06-at-1155-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>