<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c21e396-2f4e-4b11-8beb-6b801e128743" Alias="404" Level="2">
  <Info>
    <Parent Key="a1af60a8-76ac-4978-ac08-573d4231379d">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>page404</ContentType>
    <CreateDate>2023-05-02T11:04:02</CreateDate>
    <NodeName Default="404" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="12c2f570-4f45-4305-a3de-e41a68e142f4">Page404</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Page Not Found]]></Value>
    </title>
  </Properties>
</Content>