<?xml version="1.0" encoding="utf-8"?>
<Content Key="222f3b4a-01da-4663-8e5c-c5da04e277a8" Alias="About" Level="2">
  <Info>
    <Parent Key="a1af60a8-76ac-4978-ac08-573d4231379d">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2023-02-07T14:05:08</CreateDate>
    <NodeName Default="About" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="733a999b-072b-4a2d-b0ca-1cdc89c208ab">AboutPage</Template>
  </Info>
  <Properties>
    <aboutHead>
      <Value><![CDATA[About GeneSys]]></Value>
    </aboutHead>
    <aboutIntroHeading>
      <Value><![CDATA[Meet our team of strategists, designers, and world-class problem solvers]]></Value>
    </aboutIntroHeading>
    <aboutIntroIMG>
      <Value><![CDATA[[]]]></Value>
    </aboutIntroIMG>
    <aboutIntroSubHeading>
      <Value><![CDATA[To be the company our customers want us to be, it takes an eclectic group of passionate operators. Get to know the people leading the way at Genesys Health]]></Value>
    </aboutIntroSubHeading>
    <aboutSubHead>
      <Value><![CDATA[Your favourite HMIS/EMR plug in Nigeria/Africa]]></Value>
    </aboutSubHead>
    <challengeContent>
      <Value><![CDATA[<p>The Nigerian healthcare industry is greatly fraught with the availability of data of any sort, credible or otherwise and studies shows it’s top amongst the sectors in the country with stiff resistance to Information Technology. Seeing as we are not virgin to this sector, we’ve been able to initially identify pain-points and challenges faced by the healthcare industry which are present up till date, often leading to the death of the business beyond the first generation due to inefficiencies in management amongst many others.</p>
<p>Some other challenges include: Record management and fragmentation, Availability of reliable data for informed decision making. Financial misappropriation, Time Management, Management of cost centers, Procurement Management, Health Maintenance Organizations’ Management, Quality of care Management.</p>
<p>Just to mention a few. The answer to these problems, is the introduction of Information Technology into the sector. With the advent of technology in this sector, they stand to gain the benefits experienced by similar professional sectors where IT has thrived, greatly impacting those sectors such as; engineering, banking &amp; finance, regulatory &amp; audit to mention a few. </p>
<p>Hence, our initial voyage into healthcare IT, which led to the rise of Genesys Health Information Systems Limited. Genesys Health Information Systems Limited is a joint venture Limited Liability Company established in December 2017, which has up until the time of its incorporation, existed as a product of the stables of its parent entities.</p>
<p>With the successes and growth of the product, GeneSys and solidification of alliances between parent companies, this joint venture start-up was birthed as an end-product of concrete relations between Vatebra Technology Limited and Realms Healthcare Services Consulting Limited to better position ourselves as an organization to solve the problems identified from earlier and achieve our vision.</p>]]></Value>
    </challengeContent>
    <challengeHeader>
      <Value><![CDATA[The Challenge]]></Value>
    </challengeHeader>
    <firstImg>
      <Value><![CDATA[[
  {
    "key": "4ad3f850-91a8-4d9b-9b94-07a704c275a2",
    "mediaKey": "c6754c26-1263-44d5-bab8-f2585c8fb632"
  }
]]]></Value>
    </firstImg>
    <galleryIMGs>
      <Value><![CDATA[[
  {
    "key": "038392aa-bc04-42ce-8d52-e6579e418ab8",
    "mediaKey": "1310ddfa-e0d5-4925-89c0-b085f7989aee"
  },
  {
    "key": "47d49cca-7718-4dc2-8d6c-741c3e3da720",
    "mediaKey": "c6754c26-1263-44d5-bab8-f2585c8fb632"
  },
  {
    "key": "a40885ba-bf28-4141-af8f-9c0ce0bf3021",
    "mediaKey": "3e330382-efa8-49d4-a92f-92870a18f9e1"
  }
]]]></Value>
    </galleryIMGs>
    <galleryTitle>
      <Value><![CDATA[Gallery]]></Value>
    </galleryTitle>
    <milestoneTitle>
      <Value><![CDATA[Our Milestones]]></Value>
    </milestoneTitle>
    <mission>
      <Value><![CDATA[Our mission is to digitise and optimise healthcare service delivery through unparalleled client-centric service and technology solutions.]]></Value>
    </mission>
    <personnelList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/32776a7971b14c7286aefd598f29ed6e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a433debc10aa43eeb11f1d88f8a6f48f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/bc5b402b0a2041be8eb0d8d786c567a5",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1167f22c81124a19a00dcf51303171e4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7e31eb0d7c36485a9f091e5f3e72b07a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9685d698-20e6-4a70-bcf8-05f2ac67e62a",
      "udi": "umb://element/32776a7971b14c7286aefd598f29ed6e",
      "personnelIMG": "[\r\n  {\r\n    \"key\": \"0dbad2ec-febc-45ad-af92-1fbda332e1d1\",\r\n    \"mediaKey\": \"16c2d6df-7f4e-4d9e-9e85-2275c9d71984\"\r\n  }\r\n]",
      "personnelName": "Munachimso Ayo-Olagunju",
      "personnelDesignation": "Chief Executive Officer"
    },
    {
      "contentTypeKey": "9685d698-20e6-4a70-bcf8-05f2ac67e62a",
      "udi": "umb://element/a433debc10aa43eeb11f1d88f8a6f48f",
      "personnelIMG": "[\r\n  {\r\n    \"key\": \"ee145c26-4f4b-42fa-a7f0-a45e2d79ce98\",\r\n    \"mediaKey\": \"d8204e6a-740c-4159-bf5e-33f76fc64b67\"\r\n  }\r\n]",
      "personnelName": "Munachimso Ayo-Olagunju",
      "personnelDesignation": "Chief Executive Officer"
    },
    {
      "contentTypeKey": "9685d698-20e6-4a70-bcf8-05f2ac67e62a",
      "udi": "umb://element/bc5b402b0a2041be8eb0d8d786c567a5",
      "personnelIMG": "[\r\n  {\r\n    \"key\": \"94e63c70-d969-468b-ab95-aa4dcb358d12\",\r\n    \"mediaKey\": \"80219803-69e4-4806-ab8f-53d10713e442\"\r\n  }\r\n]",
      "personnelName": "Fiyinfoluwa Sanwo",
      "personnelDesignation": "People & Operations Associate"
    },
    {
      "contentTypeKey": "9685d698-20e6-4a70-bcf8-05f2ac67e62a",
      "udi": "umb://element/1167f22c81124a19a00dcf51303171e4",
      "personnelIMG": "[\r\n  {\r\n    \"key\": \"c99f53ff-4eac-49ff-96b5-adfd816737b8\",\r\n    \"mediaKey\": \"954b3c60-b0cf-42de-8189-3acc709f4ae9\"\r\n  }\r\n]",
      "personnelName": "Adedeji Adeniyi",
      "personnelDesignation": "People & Operations Associate"
    },
    {
      "contentTypeKey": "9685d698-20e6-4a70-bcf8-05f2ac67e62a",
      "udi": "umb://element/7e31eb0d7c36485a9f091e5f3e72b07a",
      "personnelIMG": "[\r\n  {\r\n    \"key\": \"d5d0a024-d1c7-4c39-a0dd-ad5cd4d021ab\",\r\n    \"mediaKey\": \"16c2d6df-7f4e-4d9e-9e85-2275c9d71984\"\r\n  }\r\n]",
      "personnelName": "Munachimso Ayo-Olagunju",
      "personnelDesignation": "Chief Executive Officer"
    }
  ],
  "settingsData": []
}]]></Value>
    </personnelList>
    <personnelSectionHeading>
      <Value><![CDATA[Our Eccentric Team]]></Value>
    </personnelSectionHeading>
    <secondImg>
      <Value><![CDATA[[
  {
    "key": "ed7fe6fe-754f-4aca-ba6a-bf3aec27f1cd",
    "mediaKey": "c12e56ce-f7b9-4f5e-a25b-8d7d0242edfa"
  }
]]]></Value>
    </secondImg>
    <title>
      <Value><![CDATA[About Us]]></Value>
    </title>
    <vision>
      <Value><![CDATA[To be the leading provider of simplistic and affordable health tech. solutions to public and private health systems in Africa.]]></Value>
    </vision>
    <whoWeAre>
      <Value><![CDATA[GeneSys Health information Systems Limited (GHIS) is an e-Health company committed to mitigating the gaping issues in the healthcare sector through innovative tech. Established in 2018 as a pioneer Health Management Information System (HMIS), we provide customized solutions—EMR and Telemedicine (Gemeni)—to (public and private) hospitals toward digitizing patient- and hospital management workflow processes, improving the quality of care and operations]]></Value>
    </whoWeAre>
  </Properties>
</Content>