<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7d62294-1470-4f17-a504-e165704d0cef" Alias="Career" Level="2">
  <Info>
    <Parent Key="a1af60a8-76ac-4978-ac08-573d4231379d">Home</Parent>
    <Path>/Home/Career</Path>
    <Trashed>false</Trashed>
    <ContentType>careerPage</ContentType>
    <CreateDate>2023-02-28T19:06:43</CreateDate>
    <NodeName Default="Career" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="165c45ad-a81f-47f3-a92e-4dd74b8cbc78">CareerPage</Template>
  </Info>
  <Properties>
    <header>
      <Value><![CDATA[Career]]></Value>
    </header>
    <jobOpenings>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/42e05ee281a743b89a907327fed975b4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ebb979ba749f48a2af54a79e2e83560d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d463b6d3812b42f7b91a61f4d1b2c088",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e1353674-8311-42cc-b940-cfdd619b668a",
      "udi": "umb://element/42e05ee281a743b89a907327fed975b4",
      "jobTitle": "Web Designer & Developer",
      "location": "Lagos, NG",
      "jobType": "[\"Full Time\"]",
      "jobLink": "[{\"name\":\"mailto:career@genesys-health.com\",\"url\":\"mailto:career@genesys-health.com\",\"queryString\":\"?subject=Application for Web Designer & Developer\"}]"
    },
    {
      "contentTypeKey": "e1353674-8311-42cc-b940-cfdd619b668a",
      "udi": "umb://element/ebb979ba749f48a2af54a79e2e83560d",
      "jobTitle": "Product Development Manager",
      "location": "Lagos, NG",
      "jobType": "[\"Full Time\"]",
      "jobLink": "[{\"name\":\"mailto:career@genesys-health.com\",\"url\":\"mailto:career@genesys-health.com\",\"queryString\":\"?subject=Application for Product Development manager\"}]"
    },
    {
      "contentTypeKey": "e1353674-8311-42cc-b940-cfdd619b668a",
      "udi": "umb://element/d463b6d3812b42f7b91a61f4d1b2c088",
      "jobTitle": "Head of Finance",
      "location": "Lagos, NG",
      "jobType": "[\"Part Time\"]",
      "jobLink": "[{\"name\":\"mailto:career@genesys-health.com\",\"url\":\"mailto:career@genesys-health.com\",\"queryString\":\"?subject=Application for Head of Finance\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </jobOpenings>
    <subHeading>
      <Value><![CDATA[We are always looking for talents to create magic with.]]></Value>
    </subHeading>
    <title>
      <Value><![CDATA[Career]]></Value>
    </title>
  </Properties>
</Content>