<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7d62294-1470-4f17-a504-e165704d0cef" Alias="Career" Level="2">
  <Info>
    <Parent Key="a1af60a8-76ac-4978-ac08-573d4231379d">Home</Parent>
    <Path>/Home/Career</Path>
    <Trashed>false</Trashed>
    <ContentType>careerPage</ContentType>
    <CreateDate>2023-02-28T19:06:43</CreateDate>
    <NodeName Default="Career" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="165c45ad-a81f-47f3-a92e-4dd74b8cbc78">CareerPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Career]]></Value>
    </title>
  </Properties>
</Content>