<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff86435d-cb4a-4b63-9c58-4ff317812486" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a1af60a8-76ac-4978-ac08-573d4231379d">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-02-07T14:03:45</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a8181b0-9fbe-45c9-b137-d6cf7b979fff">ContactPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Contact]]></Value>
    </title>
  </Properties>
</Content>