<?xml version="1.0" encoding="utf-8"?>
<Content Key="24bf26ed-c5aa-46d7-8015-d8b39f7fd106" Alias="Demo" Level="2">
  <Info>
    <Parent Key="a1af60a8-76ac-4978-ac08-573d4231379d">Home</Parent>
    <Path>/Home/Demo</Path>
    <Trashed>false</Trashed>
    <ContentType>demoPage</ContentType>
    <CreateDate>2023-02-07T14:04:50</CreateDate>
    <NodeName Default="Demo" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d9c0858-852b-4371-94ea-3b536431a105">DemoPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Request for Demo]]></Value>
    </title>
  </Properties>
</Content>