<?xml version="1.0" encoding="utf-8"?>
<Content Key="e63706e6-9a81-477e-af83-8f87e2a94e68" Alias="ERP" Level="3">
  <Info>
    <Parent Key="7cead491-704a-44e9-8de7-9d9f4df85bae">Products</Parent>
    <Path>/Home/Products/ERP</Path>
    <Trashed>false</Trashed>
    <ContentType>eRP</ContentType>
    <CreateDate>2023-08-08T15:26:46</CreateDate>
    <NodeName Default="ERP" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d32a6af2-1567-40f8-9835-d321634b33b2">ERP</Template>
  </Info>
  <Properties>
    <desc>
      <Value><![CDATA[Our award-winning flagship Solution, built on over a century of acquired hospital experiences and best practices. Our ERP is the ultimate solution for healthcare providers seeking to streamline their operations and elevate patient care. It was built for complexity with simplicity at its core. Are you a tertiary, multispeciality or super-speciality health facility? Look no further! This is the sole solution for your enterprise needs and with our commitment to customizations and hands-on implementation, you can rest assured that you'll receive an unparalleled experience. So why wait? Join our elite ERP provider network today and rediscover the full potential of your practice Will – revolutionize your hospital operations and enhance patient care with our simplified solutions.
Rock it – say goodbye to guesswork and hello to real-time data and analytics. With our solutions, business leaders and decision-makers can now track key metrics, identify areas for improvement, and most importantly rock it!]]></Value>
    </desc>
    <descHeader>
      <Value><![CDATA[Introducing GeneSys ERP ]]></Value>
    </descHeader>
    <header>
      <Value><![CDATA[Genesys ERP]]></Value>
    </header>
    <planHeading>
      <Value><![CDATA[Flexible For All Sizes]]></Value>
    </planHeading>
    <planItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a894c4e520904e929d2c66e69dffee6c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/bab7ddf2c16844edab8d17df46736350",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f1e879c4b2f94f5e999ff15dee856b1d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/a894c4e520904e929d2c66e69dffee6c",
      "planIcon": "[\r\n  {\r\n    \"key\": \"02252263-c05d-4475-ac8c-e43745f6d2b1\",\r\n    \"mediaKey\": \"6353bb4f-b24f-4a9c-a3e1-236ad6c7e6dd\"\r\n  }\r\n]",
      "planName": "LITE",
      "planType": "EMR",
      "planCost": "5000",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    },
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/bab7ddf2c16844edab8d17df46736350",
      "planIcon": "[\r\n  {\r\n    \"key\": \"58d4dd5a-d10e-4a29-ac3b-aeb3de32d97c\",\r\n    \"mediaKey\": \"9956e4f9-5f36-4ecb-841d-8b34d8a5f69f\"\r\n  }\r\n]",
      "planName": "MIDI",
      "planType": "EMR",
      "planCost": "5200",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    },
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/f1e879c4b2f94f5e999ff15dee856b1d",
      "planIcon": "[\r\n  {\r\n    \"key\": \"e06d6357-6124-4590-9564-6abb21fac12d\",\r\n    \"mediaKey\": \"679193c3-687e-4dd5-abd6-e6bb93fedb1a\"\r\n  }\r\n]",
      "planName": "ERP",
      "planType": "HMIS",
      "planCost": "5500",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </planItems>
    <planSubHeading>
      <Value><![CDATA[We understand one shoe doesn’t sometimes fit all and that’s why we have scalable solutions tailored to your unique practice needs.]]></Value>
    </planSubHeading>
    <productHeading>
      <Value><![CDATA[Related Products]]></Value>
    </productHeading>
    <products>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/71b3aaff8e12401aaa587d245faa740c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/cab94657e3e74c3e94afe264a0e7762d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/71b3aaff8e12401aaa587d245faa740c",
      "packageTitle": "Genesys LITE",
      "packageDesc": "Geared towards large practices, Genesys Health Management Information System allows you to take workflow in your hospital to a whole new level with our state of an EMR",
      "packageLink": "[{\"name\":\"Lite\",\"udi\":\"umb://document/a309dcad695d42ceb7797be826e90a4e\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"3e984f38-a59a-427d-b9cd-a48538a2e75a\",\r\n    \"mediaKey\": \"92b0bfbf-0de6-440c-95b1-897084a0a71e\"\r\n  }\r\n]",
      "packageFeatures": null
    },
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/cab94657e3e74c3e94afe264a0e7762d",
      "packageTitle": "Genesys MIDI",
      "packageDesc": "Geared towards mid-large practices. GeneSys Health delivers industry-leading Electronic Medical Records with various solution designed specifically for your practice smooth and efficient running.",
      "packageLink": "[{\"name\":\"Midi\",\"udi\":\"umb://document/c1f58eda5c0842849d03257528d07a57\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"fa99ae5f-29a0-4658-ac62-5f204b5620f7\",\r\n    \"mediaKey\": \"c5f0325b-a65c-473b-9ed4-1b9b2efa9fea\"\r\n  }\r\n]",
      "packageFeatures": null
    }
  ],
  "settingsData": []
}]]></Value>
    </products>
    <productSubheading>
      <Value><![CDATA[Our product offers a comprehensive and user-friendly platform that streamlines hospital operations, reduces manual errors, and improves patient workflow.   ]]></Value>
    </productSubheading>
    <subHeading>
      <Value><![CDATA[Experience the true power of GeneSys ERP our most robust and sophisticated offering]]></Value>
    </subHeading>
    <title>
      <Value><![CDATA[ERP]]></Value>
    </title>
  </Properties>
</Content>