<?xml version="1.0" encoding="utf-8"?>
<Content Key="e63706e6-9a81-477e-af83-8f87e2a94e68" Alias="ERP" Level="3">
  <Info>
    <Parent Key="7cead491-704a-44e9-8de7-9d9f4df85bae">Products</Parent>
    <Path>/Home/Products/ERP</Path>
    <Trashed>false</Trashed>
    <ContentType>eRP</ContentType>
    <CreateDate>2023-08-08T15:26:46</CreateDate>
    <NodeName Default="ERP" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d32a6af2-1567-40f8-9835-d321634b33b2">ERP</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[ERP]]></Value>
    </title>
  </Properties>
</Content>