<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1d008c1-65f5-47ee-8db6-0839c18f406a" Alias="Genesys Patient" Level="3">
  <Info>
    <Parent Key="7cead491-704a-44e9-8de7-9d9f4df85bae">Products</Parent>
    <Path>/Home/Products/GenesysPatient</Path>
    <Trashed>false</Trashed>
    <ContentType>genesysPatient</ContentType>
    <CreateDate>2023-08-08T15:44:12</CreateDate>
    <NodeName Default="Genesys Patient" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7fa344ad-1320-44c9-aa2c-16f081a0cf5f">GenesysPatient</Template>
  </Info>
  <Properties>
    <globalContent>
      <Value><![CDATA[umb://document/23ad8d5f6a79436187cc3db5cc276951]]></Value>
    </globalContent>
    <title>
      <Value><![CDATA[Genesys Patient]]></Value>
    </title>
  </Properties>
</Content>