<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1af60a8-76ac-4978-ac08-573d4231379d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-02-07T10:27:42</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e68fa4d-0f0e-45c8-8db3-a27339ab81b9">HomePage</Template>
  </Info>
  <Properties>
    <faqHeading>
      <Value><![CDATA[Most commonly asked Questions]]></Value>
    </faqHeading>
    <faqImage>
      <Value><![CDATA[[
  {
    "key": "d74ec4fe-5159-4239-abea-f4a4909398ad",
    "mediaKey": "3edb284a-8372-46ef-bcf8-8f2227bedae7"
  }
]]]></Value>
    </faqImage>
    <globalContent>
      <Value><![CDATA[umb://document/23ad8d5f6a79436187cc3db5cc276951]]></Value>
    </globalContent>
    <infoPackage>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/40444a7c1e554b94a021bec6c7a2ec43"
      }
    ],
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/fd810e07cfa14325bd59aa7e1644f56f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/20d6a5c6ab714faa9792b43878c8bc41",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c980c964d5c140789ff7892d84ef462b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/fd810e07cfa14325bd59aa7e1644f56f",
      "packageSVG": "",
      "packageTitle": "Genesys LITE",
      "packageDesc": "Geared towards primary care and small practices our SaaS EMR offers just about enough to digitize your patient records and processes while being a part of a burgeoning digital healthcare ecosystem.",
      "packageLink": "[{\"name\":\"Lite\",\"udi\":\"umb://document/a309dcad695d42ceb7797be826e90a4e\",\"queryString\":\"\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"026e2fe6-196d-4364-bf3f-bc2575bc127e\",\r\n    \"mediaKey\": \"eccacbdf-0377-422f-ac30-b4d91b58421f\"\r\n  }\r\n]",
      "packageFeatures": null
    },
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/20d6a5c6ab714faa9792b43878c8bc41",
      "packageSVG": "",
      "packageTitle": "Genesys MIDI",
      "packageDesc": "Geared towards secondary care and mid-to-large-scale practices, this EMR is an enhancement to our Lite. It packs the added punch to meet your robust clinical and administrative needs.",
      "packageLink": "[{\"name\":\"Midi\",\"udi\":\"umb://document/c1f58eda5c0842849d03257528d07a57\",\"queryString\":\"\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"91969a61-2339-479c-800c-7ffaa60d52e9\",\r\n    \"mediaKey\": \"a6036899-a7ba-45f4-ad8c-cc82fcb74741\"\r\n  }\r\n]",
      "packageFeatures": null
    },
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/c980c964d5c140789ff7892d84ef462b",
      "packageSVG": "",
      "packageTitle": "Genesys ERP",
      "packageDesc": "Experience the true power of GeneSys ERP our most robust and sophisticated offering. This HMIS redefines holistic hospital management, with modules to cater to absolutely every aspect of your business and features to address every possible scenario.",
      "packageLink": "[{\"name\":\"ERP\",\"udi\":\"umb://document/e63706e69a81477eaf838f87e2a94e68\",\"queryString\":\"\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"3ea38b0e-6355-4a50-b59e-2ec42df08723\",\r\n    \"mediaKey\": \"54319c33-3fed-4e8d-9c16-1a0ac0ddef9c\"\r\n  }\r\n]",
      "packageFeatures": null
    }
  ],
  "settingsData": []
}]]></Value>
    </infoPackage>
    <infoSubHeading>
      <Value><![CDATA[Choose from our suite of robust and user-friendly solutions, with cutting-edge technology designed to streamline your operations, reduce errors and improve the overall patient experience.]]></Value>
    </infoSubHeading>
    <infoTitle>
      <Value><![CDATA[Our products]]></Value>
    </infoTitle>
    <mainHeading>
      <Value><![CDATA[The Solution to your entire healthcare needs]]></Value>
    </mainHeading>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "ff56e6c1-7e1f-4484-ab22-4c9ad785a2d3",
    "mediaKey": "440d2604-ebaa-45ad-bbba-000938a624ae"
  },
  {
    "key": "81af9b96-b417-4058-bd62-ca25cd0e04c3",
    "mediaKey": "dbe19833-3c9c-4f1f-9525-9759adf78386"
  },
  {
    "key": "44ba9d99-cb7d-4f15-b571-2957d239d77d",
    "mediaKey": "9a87ffe5-f8b0-431e-8e8a-6fa87a856892"
  }
]]]></Value>
    </mainImage>
    <mainSubHeading>
      <Value><![CDATA[Get ahead of the curve with our hospital solutions, honed over a century of experience with the country's most venerable hospitals. Our user-friendly interfaces and custom configurations make accessing patient data a breeze, so you can focus on what really matters - quality care.]]></Value>
    </mainSubHeading>
    <planHeading>
      <Value><![CDATA[Flexible Plans For All Sizes]]></Value>
    </planHeading>
    <planItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e2b3a10b48ef46f6b7e5f7851c80d61b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f1b1698654564127a028b4339f3a849a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b162dd12a9884d77944717554b0ea460",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/e2b3a10b48ef46f6b7e5f7851c80d61b",
      "planIcon": "[\r\n  {\r\n    \"key\": \"497a93e1-604a-4240-b0e1-cb8f48a47217\",\r\n    \"mediaKey\": \"6353bb4f-b24f-4a9c-a3e1-236ad6c7e6dd\"\r\n  }\r\n]",
      "planName": "LITE",
      "planType": "EMR",
      "planCost": "5000",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    },
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/f1b1698654564127a028b4339f3a849a",
      "planIcon": "[\r\n  {\r\n    \"key\": \"a378c72e-5628-48b2-80ab-31f9031093e6\",\r\n    \"mediaKey\": \"9956e4f9-5f36-4ecb-841d-8b34d8a5f69f\"\r\n  }\r\n]",
      "planName": "MIDI",
      "planType": "EMR",
      "planCost": "5200",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    },
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/b162dd12a9884d77944717554b0ea460",
      "planIcon": "[\r\n  {\r\n    \"key\": \"32ffeb67-6102-4a86-8712-84e93b7417fc\",\r\n    \"mediaKey\": \"679193c3-687e-4dd5-abd6-e6bb93fedb1a\"\r\n  }\r\n]",
      "planName": "ERP",
      "planType": "HMIS",
      "planCost": "5500",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </planItems>
    <planSubHeading>
      <Value><![CDATA[We understand one shoe doesn't sometimes fit all and that's why we have scalable solutions tailored to your unique practice needs]]></Value>
    </planSubHeading>
    <questions>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/fd46b3a7ff114063b58a9a41b1ea2c67",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ea5ca3e358d04414b314045d9ac26678",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/506b7c2cdd4748aca1aacf94d3008c15",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1463937e51144355bfaa1ba6ab088b1b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ff03eb2eeba9401cb61c57a01c21854f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f47908c8ead7466b9fc461f4e6a08d0d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/3acb69445b39402ebf3474837ce30547",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/bbb053da695846bca2dfbc3f144acd3a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/559d7c6af75041a6bf66ac70c2cdd71b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/6c379978b9e541519c4f65cbda387c5f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/fd46b3a7ff114063b58a9a41b1ea2c67",
      "question": "What is Genesys Health EMR?",
      "answer": "Genesys Health EMR is a cloud-based electronic medical record (EMR) platform that helps healthcare providers store and manage their patient data. It provides tools which allow clinicians to quickly and accurately provide care to patients and streamline administrative processes. The software includes features such as patient scheduling, vitals charting, billing, doctor’s consultation, and reporting, and offers secure access to data from any device. "
    },
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/ea5ca3e358d04414b314045d9ac26678",
      "question": "How does Genesys EMR work?",
      "answer": "Genesys Health EMR is a cloud-based platform that is intuitive and provides healthcare providers with an easy-to-use interface for managing patient data. This system can be accessed from any device, making it easy for providers to access and update patient information wherever they are. The system allows providers to store patient information, including medical history, vitals, prescriptions, laboratory and radiology investigation results and billing information"
    },
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/506b7c2cdd4748aca1aacf94d3008c15",
      "question": "What features does Genesys Health EMR offer?",
      "answer": "Genesys Health EMR has a range of capabilities, including the ability to create patient schedules, chart medical information, prescriptions, process billing, and generate reports. It also allows users to securely access and store patient data from any device, such as tablets, smartphones, and computers.  \n\nOther features of the web application include Insurance Management, Virtual Account Management, Ante-Natal Care Management, Active Queue, Patient data release request, e-Pharmacy, Patient Record Merging, e-Radiology, e-Inventory, Retail Pharmacy, Retail Radiology, Appointment reminders,  Retail Laboratory, and Surgery. "
    },
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/1463937e51144355bfaa1ba6ab088b1b",
      "question": "How secure is Genesys Health EMR?",
      "answer": "Genesys Health EMR is a secure electronic medical records system that utilizes encryption and two step security levels of approvals to protect patient data in complaint with HIPAA regulations. It also has advanced features such as access control, audit trails, and data backup and restore capabilities to ensure the utmost security and reliability of patient information. "
    },
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/ff03eb2eeba9401cb61c57a01c21854f",
      "question": "Does Genesys Health EMR offer support?",
      "answer": "Genesys Health EMR provides 24-hour technical support, with the options of email, telephone, live chat, and if necessary, in-person support. Furthermore, the software offers user guides and video tutorials to help users."
    },
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/f47908c8ead7466b9fc461f4e6a08d0d",
      "question": "What type of training is available for Genesys Health EMR?",
      "answer": "Genesys Health EMR offers a variety of learning opportunities, such as online user guides, video tutorials and on-site training and consulting services, to help users become familiar with the software. "
    },
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/3acb69445b39402ebf3474837ce30547",
      "question": "What devices can I use with Genesys Health EMR?",
      "answer": "Genesys Health EMR can be accessed on any internet-enabled device that supports a web browser, such as a laptop, tablet, or mobile phone. "
    },
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/bbb053da695846bca2dfbc3f144acd3a",
      "question": "Does Genesys Health EMR offer customization options? ",
      "answer": "Yes, Genesys Health EMR allows users to customize the interface and features to fit their needs."
    },
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/559d7c6af75041a6bf66ac70c2cdd71b",
      "question": "Does Genesys Health EMR offer analytics and reporting tools?",
      "answer": "Genesys Health EMR offers a range of analytics and reporting tools that allow healthcare providers to monitor and assess their patient care performance. Through customizable reports and dashboards, users are able to analyze patient data and gain valuable insights into their practices."
    },
    {
      "contentTypeKey": "283c5087-1785-473e-8227-05c606ba47f9",
      "udi": "umb://element/6c379978b9e541519c4f65cbda387c5f",
      "question": "Does Genesys Health EMR offer appointment reminders? ",
      "answer": "Genesys Health EMR provides automated appointment reminders that can be sent to patients via text message, email."
    }
  ],
  "settingsData": []
}]]></Value>
    </questions>
    <testimonialHeading>
      <Value><![CDATA[What Our Clients Says About Us]]></Value>
    </testimonialHeading>
    <testimonials>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/247d736cc9db42d193b53212f1d324bc",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4f31a6a854b74cd6a691fed0ed08979e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2081339ee88c46dea91997008c536dcb",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9ebf823e-8f02-44d0-ba77-81718d7dea33",
      "udi": "umb://element/2081339ee88c46dea91997008c536dcb",
      "clientPicture": "[\r\n  {\r\n    \"key\": \"702c1d6a-3a22-4b16-a2e5-7cdaee34585e\",\r\n    \"mediaKey\": \"915b04b4-d3dd-4213-b707-9cb0fe2c7d45\"\r\n  }\r\n]",
      "testimony": "We chose Genesys EMR after reviewing several systems. It has been our first EMR. The service has always been exceptional. The product only improved despite starting out head and shoulders above many other systems. It is easy and intuitive.\"",
      "clientName": "DR BELLO",
      "clientHospital": "Hamkad Hospital"
    },
    {
      "contentTypeKey": "9ebf823e-8f02-44d0-ba77-81718d7dea33",
      "udi": "umb://element/247d736cc9db42d193b53212f1d324bc",
      "clientPicture": "[\r\n  {\r\n    \"key\": \"83d76103-6a98-4ecc-9b0c-02b57707bdfa\",\r\n    \"mediaKey\": \"a2691119-749c-4e72-8ac8-8a8a6d6ea513\"\r\n  }\r\n]",
      "testimony": "Our transition was eased by the assistance of Genesys EMR. The software is quick and efficient, yet as complete.\"",
      "clientName": "DR SAM",
      "clientHospital": "Raddison"
    },
    {
      "contentTypeKey": "9ebf823e-8f02-44d0-ba77-81718d7dea33",
      "udi": "umb://element/4f31a6a854b74cd6a691fed0ed08979e",
      "clientPicture": "[\r\n  {\r\n    \"key\": \"2f76f379-a5fe-44ee-b86c-41e295521d1d\",\r\n    \"mediaKey\": \"240fc154-0cbf-44ab-8414-ce48ee21b493\"\r\n  }\r\n]",
      "testimony": "We chose Genesys EMR after reviewing several systems. It has been our first EMR. The service has always been exceptional. The product only improved despite starting out head and shoulders above many other systems. It is easy and intuitive.",
      "clientName": "DR BELLO",
      "clientHospital": "Laagon Hospital"
    }
  ],
  "settingsData": []
}]]></Value>
    </testimonials>
    <testimonialSubHeading>
      <Value><![CDATA[Here is what the community is saying about us]]></Value>
    </testimonialSubHeading>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>