<?xml version="1.0" encoding="utf-8"?>
<Content Key="96cbb3cf-a078-43b1-ab8b-f4dad22be049" Alias="How" Level="2">
  <Info>
    <Parent Key="a1af60a8-76ac-4978-ac08-573d4231379d">Home</Parent>
    <Path>/Home/How</Path>
    <Trashed>false</Trashed>
    <ContentType>howItWorksPage</ContentType>
    <CreateDate>2023-02-07T14:04:33</CreateDate>
    <NodeName Default="How" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="99f9a43b-6bc4-4f39-b552-98081d2501b0">HowItWorksPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[How It Works]]></Value>
    </title>
  </Properties>
</Content>