<?xml version="1.0" encoding="utf-8"?>
<Content Key="a309dcad-695d-42ce-b779-7be826e90a4e" Alias="Lite" Level="3">
  <Info>
    <Parent Key="7cead491-704a-44e9-8de7-9d9f4df85bae">Products</Parent>
    <Path>/Home/Products/Lite</Path>
    <Trashed>false</Trashed>
    <ContentType>lite</ContentType>
    <CreateDate>2023-08-08T15:44:42</CreateDate>
    <NodeName Default="Lite" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3240ba76-624f-4090-b93c-4b36835f83cc">Lite</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Lite]]></Value>
    </title>
  </Properties>
</Content>