<?xml version="1.0" encoding="utf-8"?>
<Content Key="a309dcad-695d-42ce-b779-7be826e90a4e" Alias="Lite" Level="3">
  <Info>
    <Parent Key="7cead491-704a-44e9-8de7-9d9f4df85bae">Products</Parent>
    <Path>/Home/Products/Lite</Path>
    <Trashed>false</Trashed>
    <ContentType>lite</ContentType>
    <CreateDate>2023-08-08T15:44:42</CreateDate>
    <NodeName Default="Lite" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3240ba76-624f-4090-b93c-4b36835f83cc">Lite</Template>
  </Info>
  <Properties>
    <desc>
      <Value><![CDATA[Look no further than our SaaS EMR! Designed with your needs in mind, our platform offers just the right balance of functionality and simplicity to help you streamline your operations and join the digital healthcare revolution. With our easy-to-use, intuitive interface and robust set of features, you'll be able to manage your patient data with confidence, freeing up valuable time and resources to focus on what really matters – providing the best possible care to your patients. So why wait? Join the Genesys-verse – our burgeoning digital healthcare ecosystem today and see the difference for yourself! ]]></Value>
    </desc>
    <descHeader>
      <Value><![CDATA[Are you a primary care provider or part of a small practice looking to take the first step towards digitizing your patient records and processes?]]></Value>
    </descHeader>
    <header>
      <Value><![CDATA[Genesys lite]]></Value>
    </header>
    <planHeading>
      <Value><![CDATA[Flexible For All Sizes]]></Value>
    </planHeading>
    <planItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/05835784d9a84723aa183e20cebfdbf4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/90b95756ec5b4a3eb0179a2eab116bbb",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e3be64f4a8c642888386059fbc67ef65",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/05835784d9a84723aa183e20cebfdbf4",
      "planIcon": "[\r\n  {\r\n    \"key\": \"214dbe30-10ae-4aac-ac84-da66eecbf0d2\",\r\n    \"mediaKey\": \"6353bb4f-b24f-4a9c-a3e1-236ad6c7e6dd\"\r\n  }\r\n]",
      "planName": "LITE",
      "planType": "EMR",
      "planCost": "5000",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    },
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/90b95756ec5b4a3eb0179a2eab116bbb",
      "planIcon": "[\r\n  {\r\n    \"key\": \"e45d96da-ccc3-4a6f-9da7-a7f1b36ec50d\",\r\n    \"mediaKey\": \"9956e4f9-5f36-4ecb-841d-8b34d8a5f69f\"\r\n  }\r\n]",
      "planName": "MIDI",
      "planType": "EMR",
      "planCost": "5200",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    },
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/e3be64f4a8c642888386059fbc67ef65",
      "planIcon": "[\r\n  {\r\n    \"key\": \"6427f702-a947-4dfe-91bd-6bf2c811aa7d\",\r\n    \"mediaKey\": \"679193c3-687e-4dd5-abd6-e6bb93fedb1a\"\r\n  }\r\n]",
      "planName": "ERP",
      "planType": "HMIS",
      "planCost": "5500",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </planItems>
    <planSubHeading>
      <Value><![CDATA[We understand one shoe doesn’t sometimes fit all and that’s why we have scalable solutions tailored to your unique practice needs.]]></Value>
    </planSubHeading>
    <productHeading>
      <Value><![CDATA[Related Products]]></Value>
    </productHeading>
    <products>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b92b6a574c384ebd8e2b3edb30362d50",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1fac1ac59d4b42b0a2dea055958ddd81",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/b92b6a574c384ebd8e2b3edb30362d50",
      "packageTitle": "Genesys MIDI",
      "packageDesc": "Geared towards mid-large practices. GeneSys Health delivers industry-leading Electronic Medical Records with various solution designed specifically for your practice smooth and efficient running.",
      "packageLink": "[{\"name\":\"Midi\",\"udi\":\"umb://document/c1f58eda5c0842849d03257528d07a57\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"e6d0ac04-e0ad-4af4-b3f5-7c42057def96\",\r\n    \"mediaKey\": \"c5f0325b-a65c-473b-9ed4-1b9b2efa9fea\"\r\n  }\r\n]",
      "packageFeatures": null
    },
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/1fac1ac59d4b42b0a2dea055958ddd81",
      "packageTitle": "Genesys ERP",
      "packageDesc": "Geared towards large practices, Genesys Health Management Information System is an ERP like solution that automates processes across all functional areas and departments.",
      "packageLink": "[{\"name\":\"ERP\",\"udi\":\"umb://document/e63706e69a81477eaf838f87e2a94e68\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"a8bca662-93ca-4536-b7c5-68c64e60d733\",\r\n    \"mediaKey\": \"08858cef-a33b-423a-a701-6dee7b6419aa\"\r\n  }\r\n]",
      "packageFeatures": null
    }
  ],
  "settingsData": []
}]]></Value>
    </products>
    <productSubheading>
      <Value><![CDATA[Our product offers a comprehensive and user-friendly platform that streamlines hospital operations, reduces manual errors, and improves patient workflow.   ]]></Value>
    </productSubheading>
    <subHeading>
      <Value><![CDATA[Geared towards primary care and small practices our SaaS EMR offers just about enough to digitize your patient records and processes while being a part of a burgeoning digital healthcare ecosystem ]]></Value>
    </subHeading>
    <title>
      <Value><![CDATA[Lite]]></Value>
    </title>
  </Properties>
</Content>