<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1f58eda-5c08-4284-9d03-257528d07a57" Alias="Midi" Level="3">
  <Info>
    <Parent Key="7cead491-704a-44e9-8de7-9d9f4df85bae">Products</Parent>
    <Path>/Home/Products/Midi</Path>
    <Trashed>false</Trashed>
    <ContentType>midi</ContentType>
    <CreateDate>2023-08-08T15:45:00</CreateDate>
    <NodeName Default="Midi" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f85ce372-e2e2-446d-89f8-33cebb1a4066">Midi</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Midi]]></Value>
    </title>
  </Properties>
</Content>