<?xml version="1.0" encoding="utf-8"?>
<Content Key="f060258a-6965-4f35-a82d-1158d52caeb9" Alias="Privacy" Level="2">
  <Info>
    <Parent Key="a1af60a8-76ac-4978-ac08-573d4231379d">Home</Parent>
    <Path>/Home/Privacy</Path>
    <Trashed>false</Trashed>
    <ContentType>privacyPage</ContentType>
    <CreateDate>2023-02-27T10:23:43</CreateDate>
    <NodeName Default="Privacy" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9966e3ae-a3a5-4ed9-b5a0-7849722b269f">PrivacyPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Privacy]]></Value>
    </title>
  </Properties>
</Content>