<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cead491-704a-44e9-8de7-9d9f4df85bae" Alias="Products" Level="2">
  <Info>
    <Parent Key="a1af60a8-76ac-4978-ac08-573d4231379d">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2023-02-07T14:05:36</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cad898a9-ada3-4a27-bb0d-7c2120142283">ProductPage</Template>
  </Info>
  <Properties>
    <planHeading>
      <Value><![CDATA[Flexible Plans For All Sizes]]></Value>
    </planHeading>
    <planItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/25ab36777be64010aa026b6b89cb77b0",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/fa1ae8bf6b9a463e967a110f5b5baa3c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4a7e91e30a8341a7a2322e7c0618c21e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/25ab36777be64010aa026b6b89cb77b0",
      "planIcon": "[\r\n  {\r\n    \"key\": \"339c5f43-6318-495f-9eae-d5b37539fede\",\r\n    \"mediaKey\": \"6353bb4f-b24f-4a9c-a3e1-236ad6c7e6dd\"\r\n  }\r\n]",
      "planName": "LITE",
      "planType": "EMR",
      "planCost": "5000",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    },
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/fa1ae8bf6b9a463e967a110f5b5baa3c",
      "planIcon": "[\r\n  {\r\n    \"key\": \"baac8481-2b76-43eb-bb90-240dfd6f92f9\",\r\n    \"mediaKey\": \"9956e4f9-5f36-4ecb-841d-8b34d8a5f69f\"\r\n  }\r\n]",
      "planName": "MIDI",
      "planType": "EMR",
      "planCost": "5200",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    },
    {
      "contentTypeKey": "9b11d08f-41cb-40b4-9d16-3bb92c7c82e7",
      "udi": "umb://element/4a7e91e30a8341a7a2322e7c0618c21e",
      "planIcon": "[\r\n  {\r\n    \"key\": \"97b32e58-1b83-425d-ae6f-19d73725853f\",\r\n    \"mediaKey\": \"679193c3-687e-4dd5-abd6-e6bb93fedb1a\"\r\n  }\r\n]",
      "planName": "ERP",
      "planType": "HMIS",
      "planCost": "5500",
      "planBenefits": "Customizable patient management module\nCustomizable manager template\nAvailable to all",
      "planLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </planItems>
    <planSubHeading>
      <Value><![CDATA[We have solutions made specifically to suit all your needs.]]></Value>
    </planSubHeading>
    <productHeading>
      <Value><![CDATA[Our products]]></Value>
    </productHeading>
    <productMainHeading>
      <Value><![CDATA[Streamline Your Healthcare Operations with Our Advanced EMR/HMIS Solution]]></Value>
    </productMainHeading>
    <productMainImage>
      <Value><![CDATA[[
  {
    "key": "e687da63-9a33-4810-b7ca-f715a986b490",
    "mediaKey": "3a99f9d2-0652-48fe-9f69-f69834c48d33"
  }
]]]></Value>
    </productMainImage>
    <products>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1f72949f57084c9d9567fbb095bbaa4b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/99969c217bff40b19ae01fbaa4a38b3c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/778a519adac84144b525d3e12da69b56",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/1f72949f57084c9d9567fbb095bbaa4b",
      "packageTitle": "Genesys LITE",
      "packageDesc": "Geared towards large practices, Genesys Health Management Information System is an ERP like solution that automates processes across all functional areas and departments",
      "packageLink": "[{\"name\":\"#\",\"url\":\"#\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"40d66ba9-9367-4322-a051-51e66da83272\",\r\n    \"mediaKey\": \"8f6c8053-df69-4f59-8e05-e84e5da224ee\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/99969c217bff40b19ae01fbaa4a38b3c",
      "packageTitle": "Genesys MIDI",
      "packageDesc": "Geared towards large practices, Genesys Health Management Information System is an ERP like solution that automates processes across all functional areas and departments.",
      "packageLink": "[{\"name\":\"#\",\"url\":\"#\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"0740bf85-85d6-4afd-a261-62d684841c8e\",\r\n    \"mediaKey\": \"8f6c8053-df69-4f59-8e05-e84e5da224ee\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "ba5d96d7-ae10-4324-8b6f-a870ef467968",
      "udi": "umb://element/778a519adac84144b525d3e12da69b56",
      "packageTitle": "Genesys ERP",
      "packageDesc": "Geared towards large practices, Genesys Health Management Information System is an ERP like solution that automates processes across all functional areas and departments.",
      "packageLink": "[{\"name\":\"#\",\"url\":\"#\"}]",
      "packageIMG": "[\r\n  {\r\n    \"key\": \"d4f841f2-75b5-4947-a379-1b57e0512e9b\",\r\n    \"mediaKey\": \"8f6c8053-df69-4f59-8e05-e84e5da224ee\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </products>
    <productSubHeading>
      <Value><![CDATA[Record information on health events and checks the quality of services at different levels of health care. Record information on health events and checks the quality of services at different levels of health care]]></Value>
    </productSubHeading>
    <title>
      <Value><![CDATA[Products]]></Value>
    </title>
  </Properties>
</Content>