<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8c632f6-8028-4109-a769-1c73d24cd803" Alias="Product Updates" Level="3">
  <Info>
    <Parent Key="1d0e75c0-2bbf-4dc6-9a63-5340d549bb78">News</Parent>
    <Path>/Home/News/ProductUpdates</Path>
    <Trashed>false</Trashed>
    <ContentType>productUpdates</ContentType>
    <CreateDate>2023-08-08T07:18:10</CreateDate>
    <NodeName Default="Product Updates" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e7b1864-8654-4250-98d8-15992723707d">ProductUpdates</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Product Updates]]></Value>
    </title>
  </Properties>
</Content>